/* main scss. Reformat css file to find duplicated CSS classes */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

* { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */ -ms-user-select: none; user-select: none; font-weight: normal; }

html, body { width: 100%; height: 100%; margin: 0; }

body { font-size: 16px; font-family: 'HelveticaNeue', sans-serif; font-weight: normal; color: #454545; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row-flex { display: flex; flex-wrap: wrap; }

/* common element */
a:hover { text-decoration: none; }

main#main { position: relative; z-index: 1; transition: -webkit-transform 200ms ease-out; }

/* layout */
.uplift-container { padding: 0 70px; }

.uplift-row { margin-left: -17px; margin-right: -17px; }

.uplift-row > [class^=col-] { padding-left: 17px; padding-right: 17px; margin-bottom: 32px; }

/* border */
.no-border { border: 0 !important; }

.no-border-top { border-top: 0 !important; }

/* --- button --- */
.btn_round-green { font-family: HelveticaNeue; font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.5px; text-align: center; color: #ffffff; padding: 15px 24px; text-transform: uppercase; border-radius: 3px; box-shadow: 0 4px 9px 0 rgba(26, 47, 59, 0.11); background-color: #b8d432; }

.btn_round-strong-green { background-color: #35612e; }

.btn_right-arrow { height: 50px; border-radius: 3px; padding: 15px 25px 15px 30px; box-shadow: 0 8px 10px 0 rgba(25, 33, 61, 0.04); color: #f0d61f; background-color: #ffffff; font-size: 14px; font-weight: 500; font-style: normal; font-stretch: normal; letter-spacing: 0.4px; text-align: left; }

.btn_right-arrow span { float: right; font-size: 0.8em; margin-top: 3px; }

.btn_right-arrow-green { color: #b8d432; }

.btn_right-arrow-blue { color: #495786; }

.btn_right-arrow-lightblue { color: #32b8d4; }

.headline-line-through { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; text-transform: uppercase; line-height: 1.2; letter-spacing: normal; text-align: center; color: #ffffff; }

.headline-line-through span { display: inline-block; position: relative; }

.headline-line-through span:before, .headline-line-through span:after { content: ''; position: absolute; top: 50%; height: 1px; display: inline-block; background-color: rgba(255, 255, 255, 0.2); width: 100%; }

.headline-line-through span:before { right: 100%; margin-right: 15px; }

.headline-line-through span:after { left: 100%; margin-left: 15px; }

.headline-line-through-black { color: #454545; }

.headline-line-through-black span:before, .headline-line-through-black span:after { background-color: #e4f4e2; }

#footer .wrapper { border-top: 1px solid #e4f4e2; padding: 27px 0 100px 0; align-items: flex-start; }

#footer .nav-link { font-family: 'HelveticaNeue'; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.92; letter-spacing: 0.5px; color: #35612e; padding: 0; }

#footer .nav-link:hover { color: #b8d432; }

#footer .left-side { width: 150px; }

#footer .left-side .logo { height: 50px; margin: 0 0 17px 0; }

#footer .left-side .copyright { opacity: 0.62; font-family: 'HelveticaNeue'; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.17; letter-spacing: 0.5px; color: #35612e; }

#footer .mid-side ul.footer-mid-menu { list-style: none; }

#footer .mid-side ul.footer-mid-menu > li { padding: 0 42px; }

#footer .right-side { margin-right: 76px; }

#footer .right-side ul.social-follow { display: flex; list-style: none; padding: 7px 0 0 0; }

#footer .right-side ul.social-follow > li { margin-right: 24px; }

#footer .right-side ul.social-follow > li a { display: flex; }

#top-nav { position: fixed; z-index: 500; left: 0; width: 100%; height: 90px; background: 0; padding: 40px 40px 0 40px; background: 0 0; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in; }

#top-nav .logo-color { display: none; }

#top-nav.smart { background: #fff; color: #000; height: 70px; padding: 16px 40px; }

#top-nav.smart .logo { display: none; }

#top-nav.smart .logo-color { display: initial; }

#top-nav.smart .menu-home .nav-link, #top-nav.smart .right-menu .nav-link { color: #454545; }

.menu-home .nav-link { padding: 17px; font-family: 'HelveticaNeue'; font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.5px; text-align: center; text-transform: uppercase; color: #fff; }

.menu-home .nav-link:hover { color: #b8d432; }

.menu-home .sub-menu { font-family: 'HelveticaNeue'; position: absolute; width: 741px; height: 223px; border-radius: 3px; background-color: #ffffff; padding: 27px 42px 23px 33px; }

.menu-home .sub-menu .title { font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.18; letter-spacing: 0.5px; text-align: left; color: #454545; text-transform: uppercase; margin: 0 0 18px 0; }

.menu-home .sub-menu ul { list-style: none; padding: 0; }

.menu-home .sub-menu ul .nav-link { font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.5px; color: #b8d432; padding: 0; text-align: left; }

.menu-home .sub-menu ul .nav-link:hover { color: #35612e; }

.menu-home .sub-menu .left-side { padding: 22px 38px 0 15px; border-right: 1px solid #ddf36f; }

.menu-home .sub-menu .left-side p { font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: 0.3px; color: #454545; margin: 0 0 15px 0; }

.menu-home .sub-menu .left-side a { font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.18; letter-spacing: 0.5px; color: #b8d432; }

.menu-home .sub-menu .right-side { padding: 22px 0 0 37px; }

.menu-home .dropdown:hover:after, .menu-home .dropdown:hover:before { border-top: 10px solid white; border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; bottom: -5px; content: ''; left: 50%; -webkit-transform: rotate(180deg); transform: rotateX(180deg); z-index: 1000; }

.menu-home .dropdown:hover:before { border-right: 10px solid transparent; border-top: 10px solid; border-left: 10px solid transparent; border-top-color: #B1B1B1; bottom: -4px; }

.menu-home .dropdown:hover > .dropdown-menu, .menu-home .dropdown:hover:before, .menu-home .dropdown:hover:after { animation-name: slidenavAnimation; animation-duration: 0.3s; -webkit-animation-name: slidenavAnimation; -webkit-animation-duration: .3s; -moz-animation-name: slidenavAnimation; -moz-animation-duration: .3s; }

.menu-home .dropdown:hover .sub-menu { display: block; }

.right-menu .nav-link { font-family: 'HelveticaNeue'; font-size: 13px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #ffffff; padding: 17px 9px; }

.right-menu #start-invest { margin-left: 10px; }

/*header custom theme */
.header-green .menu-home .nav-link, .header-green .right-menu .nav-link { color: #35612e; }

.header-green .menu-home .nav-link:hover, .header-green .right-menu .nav-link:hover { color: #b8d432; }

.header-green .right-menu #start-invest { background-color: #35612e; }

@font-face { font-family: 'HelveticaNeue'; src: url("./fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("./fonts/HelveticaNeue.woff") format("woff"), url("./fonts/HelveticaNeue.ttf") format("truetype"), url("./fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeue'; src: url("./fonts/helveticaneue_light-webfont.woff2") format("woff2"), url("./fonts/helveticaneue_light-webfont.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'HelveticaNeue'; src: url("./fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("./fonts/helveticaneue_medium-webfont.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'HelveticaNeue'; src: url("./fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/HelveticaNeue-Bold.woff") format("woff"), url("./fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("./fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sf-ui-display-regular-webfont.eot"); src: url("./fonts/sf-ui-display-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sf-ui-display-regular-webfont.woff2") format("woff2"), url("./fonts/sf-ui-display-regular-webfont.woff") format("woff"), url("./fonts/sf-ui-display-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sf-ui-display-light-webfont.eot"); src: url("./fonts/sf-ui-display-light-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sf-ui-display-light-webfont.woff2") format("woff2"), url("./fonts/sf-ui-display-light-webfont.woff") format("woff"), url("./fonts/sf-ui-display-light-webfont.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sf-ui-display-black-webfont.eot"); src: url("./fonts/sf-ui-display-black-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sf-ui-display-black-webfont.woff2") format("woff2"), url("./fonts/sf-ui-display-black-webfont.woff") format("woff"), url("./fonts/sf-ui-display-black-webfont.ttf") format("truetype"); font-weight: 900; font-style: normal; }

#uplift-video { position: absolute; bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1000; overflow: hidden; }

@keyframes slidenavAnimation { from { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes slidenavAnimation { from { opacity: 0; }
  to { opacity: 1; } }

section#banner-video { height: 100%; width: 100%; overflow: hidden; position: relative; }

section#banner-video > .container { height: 100%; display: flex; align-items: center; }

section#banner-video .head-info:after { background: #b8d432; position: absolute; width: 100%; height: 10px; content: ''; display: block; bottom: 0; left: auto; }

section#banner-video .head-info h1.title { max-width: 750px; font-family: 'SFUIDisplay'; font-size: 60px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.1; letter-spacing: normal; color: #ffffff; margin: 0; }

section#banner-video .head-info p.intro { max-width: 750px; font-family: 'SFUIDisplay'; font-size: 24px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.5px; color: #ffffff; margin: 0 0 8px 0; }

section#banner-video .head-info a.btn { padding: 15p 32px; }

section#about { position: relative; min-height: 662px; padding: 141px 0; background: url(./images/green-decorator.png) top right no-repeat; background-size: contain; }

section#about::after { display: block; content: ''; padding-bottom: 18%; }

section#about .head-info { position: relative; width: 610px; height: 165px; }

section#about .head-info:after { content: ''; display: block; position: absolute; bottom: -33px; width: 174px; height: 8px; background-color: #b8d432; }

section#about .head-info h2.title { font-family: 'SFUIDisplay'; font-size: 48px; font-weight: 900; font-style: normal; font-stretch: normal; text-transform: uppercase; line-height: 1.2; letter-spacing: 0.5px; color: #454545; }

section#about .head-info p.intro { position: absolute; left: 200px; top: 118px; width: 560px; height: 80px; font-family: 'SFUIDisplay'; font-size: 22px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.4px; color: #454545; }

section#about .head-info p.intro b { font-weight: 900; color: #b8d432; }

section#embrace-your-power { min-height: 655px; position: relative; background: url("./images/bg_mountain.jpg") center center no-repeat; background-size: cover; padding: 40px 0; }

section#embrace-your-power .sidebar { position: absolute; left: 50%; transform: translate3d(-50%, 0, 0); top: -200px; padding: 45px 55px 40px 55px; width: 598px; height: 355px; box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.21); background-color: #b8d432; }

section#embrace-your-power .sidebar img { margin: 0 0 15px 0; }

section#embrace-your-power .sidebar h3 { font-family: 'SFUIDisplay'; font-size: 22px; font-weight: 900; font-style: normal; font-stretch: normal; text-transform: uppercase; line-height: 1.27; letter-spacing: 0.5px; color: #ffffff; margin: 0 0 15px 0; }

section#embrace-your-power .sidebar p { font-family: HelveticaNeue; font-size: 15px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.4; letter-spacing: 0.3px; color: #ffffff; }

section#embrace-your-power .head-info { margin-top: 200px; margin-bottom: 50px; }

section#embrace-your-power .head-info h4.title { font-family: 'SFUIDisplay'; font-size: 30px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #ffffff; }

section#embrace-your-power .head-info p.intro { font-family: 'HelveticaNeue'; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.55; text-align: center; color: #ffffff; }

section#embrace-your-power .how-it-works > h3.headline-line-through { margin-bottom: 50px; }

section#embrace-your-power .how-it-works > h3.headline-line-through span:before, section#embrace-your-power .how-it-works > h3.headline-line-through span:after { width: 388px; }

section#embrace-your-power .how-it-works .item { text-align: center; margin-bottom: 20px; }

section#embrace-your-power .how-it-works .item .icon { margin-bottom: 20px; height: 70px; }

section#embrace-your-power .how-it-works .item p { height: 19px; font-family: 'HelveticaNeue'; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 1.19; letter-spacing: 0.4px; padding: 0 35px; text-align: center; color: #ffffff; }

section#embrace-your-power .how-it-works .nav-bottom { margin-top: 40px; text-align: center; }

section#embrace-your-power .how-it-works .nav-bottom a { font-family: 'HelveticaNeue'; font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.18; letter-spacing: 0.5px; color: #b8d432; }

section#portfolios .uplift-container .wrapper { padding: 55px 0 0 0; border-top: 10px solid #ecf8b0; }

section#portfolios h2.title { font-family: 'SFUIDisplay'; font-size: 40px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #454545; }

section#portfolios p.intro { font-family: 'HelveticaNeue'; font-size: 24px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.88; letter-spacing: normal; text-align: center; color: #454545; }

section#portfolios .list-models { margin-top: 48px; }

section#portfolios .list-models .item .card { border: 0; }

section#portfolios .list-models .item .card .icon { height: 80px; display: flex; align-items: flex-end; margin-bottom: 10px; }

section#portfolios .list-models .item .card .card-body { padding: 0; }

section#portfolios .list-models .item .card .card-body .card-title { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: normal; text-transform: uppercase; color: #3f342a; margin-bottom: 0.58rem; }

section#portfolios .list-models .item .card .card-body .card-text { font-family: 'HelveticaNeue'; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.43; letter-spacing: 0.4px; color: #454545; margin-bottom: 1.25rem; }

section#portfolios .list-models .item .card .card-body .card-heading { font-family: 'HelveticaNeue'; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.4px; color: #454545; margin-bottom: 0.4rem; }

section#portfolios .list-models .item .card .card-label { margin-top: 5px; height: 45px; background: url("./images/bg_cross-lightgreen.png") 0 0 repeat; }

section#portfolios .list-models .item:nth-of-type(5n+2) .card .card-title { color: #2c1716; }

section#portfolios .list-models .item:nth-of-type(5n+2) .card .card-label { background: url("./images/bg_cross-lightgrey.png") 0 0 repeat; }

section#portfolios .list-models .item:nth-of-type(5n+3) .card .card-title { color: #19213d; }

section#portfolios .list-models .item:nth-of-type(5n+3) .card .card-label { background: url("./images/bg_cross-blue.png") 0 0 repeat; }

section#portfolios .list-models .item:nth-of-type(5n+4) .card .card-title { color: #001e49; }

section#portfolios .list-models .item:nth-of-type(5n+4) .card .card-label { background: url("./images/bg_cross-lightblue.png") 0 0 repeat; }

section#portfolios .list-models .item:nth-of-type(5n+5) .card .card-title { color: #35612e; }

section#portfolios .list-models .item:nth-of-type(5n+5) .card .card-label { background: url("./images/bg_cross-darkgreen.png") 0 0 repeat; }

section#portfolios .list-models .item:nth-of-type(5n+6) { padding-top: 30px; }

section#portfolios .list-models .sidebar.card { padding: 15px 32px 25px 30px; border-radius: 0; background-color: #b8d432; }

section#portfolios .list-models .sidebar.card .card-body .card-title, section#portfolios .list-models .sidebar.card .card-body .card-text, section#portfolios .list-models .sidebar.card .card-body .card-footer { color: #fff; }

section#portfolios .list-models .sidebar.card .card-footer { background: no-repeat; padding: 10px 0 0 0; }

section#portfolios .list-models .sidebar.card .card-footer a { font-size: 11px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.18; letter-spacing: 0.5px; text-align: center; color: #ffffff; text-transform: uppercase; }

section#become-investor { padding: 30px; background: url("./images/bg_cross-lightgreen.png") 0 0 repeat; }

section#become-investor .head-info { height: 226px; box-shadow: 0 8px 10px 0 rgba(25, 33, 61, 0.04); background-color: #ffffff; width: 100%; font-family: 'HelveticaNeue'; padding: 44px 30px 30px 30px; text-align: center; }

section#become-investor .head-info h3.title { font-size: 26px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #454545; }

section#become-investor .head-info p.intro { max-width: 504px; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: 0.7px; text-align: center; color: #454545; margin: 0 auto 23px auto; }

section#become-investor .head-info a.btn { width: 225px; }

section#subscribe { padding: 55px 0 35px 0; }

section#subscribe .icon { margin: 0 0 11px 0; text-align: center; }

section#subscribe .icon img { width: 30px; height: 23px; object-fit: contain; }

section#subscribe .headline-line-through { font-family: 'HelveticaNeue'; font-size: 26px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.73; letter-spacing: normal; text-align: center; color: #454545; text-transform: capitalize; margin: 0 0 30px 0; }

section#subscribe .subscribe-field { justify-content: center; justify-content: center; width: 618px; margin: auto; }

section#subscribe .subscribe-field input { font-family: 'HelveticaNeue'; width: 450px; height: 48px; border-radius: 2px; margin-right: 15px; border: 0; padding: 15px 17px; box-shadow: 0 4px 9px 0 rgba(26, 47, 59, 0.11); background-color: #ffffff; font-size: 13px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.15; letter-spacing: 0.6px; color: #454545; }

section#subscribe .subscribe-field button { width: 153px; height: 48px; }

.invest-p #main { padding-top: 160px; }

.invest-p .article { position: relative; }

.invest-p .article:before { content: ''; display: block; width: 50%; height: 100%; position: absolute; right: 0; top: 0; background: #f8f5e2; z-index: -1; }

.invest-p .article .article-body { position: relative; min-height: 528px; padding: 45px 0; display: flex; align-items: center; }

.invest-p .article .article-body .lead-image { width: 500px; height: 440px; position: absolute; left: 0; top: auto; overflow: hidden; z-index: 2; }

.invest-p .article .article-body .lead-image .inner { position: relative; }

.invest-p .article .article-body .lead-image .inner .info { position: absolute; width: 100%; height: 100%; bottom: 0; left: 0; padding: 10px 90px 25px 45px; color: #ffffff; background: rgba(0, 0, 0, 0.2); display: flex; flex-direction: column; justify-content: flex-end; }

.invest-p .article .article-body .lead-image .inner .info h3 { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; margin-bottom: 8px; }

.invest-p .article .article-body .lead-image .inner .info p { font-size: 14px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 1.43; letter-spacing: 0.4px; }

.invest-p .article .article-body .main-content { display: flex; flex-direction: column; position: absolute; z-index: 1; width: 73.6%; height: 100%; right: 0; top: 0; background: #f8f5e2; }

.invest-p .article .article-body .main-content .wrapper { padding: 34px 50px 30px 280px; flex: 1 1 auto; justify-content: flex-end; display: flex; flex-direction: column; }

.invest-p .article .article-body .main-content .wrapper .strap { font-size: 24px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: normal; color: #454545; }

.invest-p .article .article-body .main-content .wrapper .title { font-family: 'SFUIDisplay'; font-size: 30px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: normal; color: #efd310; text-transform: uppercase; margin-bottom: 7px; }

.invest-p .article .article-body .main-content .wrapper p { font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.43; letter-spacing: 0.4px; color: #454545; }

.invest-p .article .article-body .main-content .bottom-action { padding: 15px 100px 20px 280px; flex: 1 1 auto; background: url(./images/bg_cross-orange.png) 0 0 repeat; display: flex; flex-direction: column; min-height: 60px; }

.invest-p .article .article-body .main-content .bottom-action button { width: 319px; }

.invest-p .article .article-body .main-content .bottom-action ul.menu { list-style: none; padding: 0; min-height: 150px; margin-bottom: 8px; }

.invest-p .article .article-body .main-content .bottom-action ul.menu li a { font-size: 14px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 2.36; letter-spacing: 0.4px; color: #454545; }

.invest-p .article-right-image:before { left: 0; right: auto; }

.invest-p .article-right-image .article-body .lead-image { right: 0; left: auto; }

.invest-p .article-right-image .article-body .main-content { left: 0; right: auto; }

.invest-p .article-right-image .article-body .main-content .wrapper { padding: 40px 320px 40px 0; }

.invest-p .article-right-image .article-body .main-content .bottom-action { padding: 20px 320px 40px 46px; }

.invest-p section#invest-philosophy .head-info { text-align: center; }

.invest-p section#invest-philosophy .head-info .sub-title { font-size: 24px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.88; letter-spacing: normal; color: #35612e; }

.invest-p section#invest-philosophy .head-info .title { font-family: 'SFUIDisplay'; font-size: 60px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.18; letter-spacing: normal; color: #454545; text-transform: uppercase; margin-bottom: 4px; }

.invest-p section#invest-philosophy .head-info p { font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.43; letter-spacing: 0.4px; color: #454545; }

.invest-p section#invest-philosophy .article { margin-top: 60px; }

.invest-p section#invest-philosophy .article .main-content .wrapper { padding-bottom: 60px; padding-top: 110px; }

.invest-p section#invest-philosophy .article .main-content .bottom-action { justify-content: center; }

.invest-p section#invest-environment .article { margin-top: 60px; }

.invest-p section#invest-environment .article:before { background-color: #fafdec; }

.invest-p section#invest-environment .article .article-body .main-content { background-color: #fafdec; }

.invest-p section#invest-environment .article .article-body .main-content .wrapper .title { color: #b8d432; }

.invest-p section#invest-environment .article .article-body .main-content .bottom-action { background: url(./images/bg_cross-lightgreen.png) 0 0 repeat; }

.invest-p section#invest-environment .article .article-body .main-content .bottom-action ul.menu li a:hover { color: #b8d432; }

.invest-p section#invest-social .article { margin-top: 60px; }

.invest-p section#invest-social .article:before { background-color: #f5fbff; }

.invest-p section#invest-social .article .article-body .main-content { background-color: #f5fbff; }

.invest-p section#invest-social .article .article-body .main-content .wrapper .title { color: #495786; }

.invest-p section#invest-social .article .article-body .main-content .bottom-action { background: url(./images/bg_cross-blue.png) 0 0 repeat; }

.invest-p section#invest-social .article .article-body .main-content .bottom-action ul.menu li a:hover { color: #495786; }

.invest-p section#invest-social .article .article-body .main-content .bottom-action button { width: 352px; }

.invest-p section#invest-corporation .article { margin-top: 60px; }

.invest-p section#invest-corporation .article:before { background-color: #f4fdff; }

.invest-p section#invest-corporation .article .article-body .main-content { background-color: #f4fdff; }

.invest-p section#invest-corporation .article .article-body .main-content .wrapper { padding: 60px 270px 30px 0; }

.invest-p section#invest-corporation .article .article-body .main-content .wrapper .title { color: #32b8d4; }

.invest-p section#invest-corporation .article .article-body .main-content .bottom-action { background: url(./images/bg_cross-lightblue.png) 0 0 repeat; }

.invest-p section#invest-corporation .article .article-body .main-content .bottom-action ul.menu { padding: 10px 0 0 0; min-height: 124px; }

.invest-p section#invest-corporation .article .article-body .main-content .bottom-action ul.menu li a:hover { color: #32b8d4; }
