
.lichhen-header {
    font-family: 'OpenSans', sans-serif;
    border-bottom: 1px solid #edeff0;
    min-height: 63px;
    padding: 26px 40px 12px 40px;
    span {
        opacity: 0.5;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #0a2c4d;
    }
}

.lichhen-topbar {
    min-height: 138px;
    display: flex;
    .right-side {
        width: calc(100% - 230px);
    }
}
.lichhen-topbar-calendar {
    width: 230px;
}
.lichhen-action-bar {
    display: flex;
}