.header {
    height: 67px;
    border-bottom: 1px solid #edeff0;
}

.sidebar {
    width: 230px;
    height: 956px;
    background-color: #0a2c4d;
    float: left;
}

.lichhen {
    float: right;
    width: calc(100% - 230px);
    .main-content{
        height: 1500px;
    }
}