.default-p #main{
    padding-top: 150px;
}

.wpcf7 input[type=submit] {
    width: 159px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 0 4px 9px 0 rgba(26, 47, 59, 0.11);
    background-color: #b8d432;	
    border: 0;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.wpcf7  {
    input[type=text], 
    input[type=email] {
        width: 485px;
        height: 50px;
        border-radius: 1px;
        background-color: #fafdec;
        border: 0;
        outline: 0;
        &:focus{
                background: #edf9b7;
                outline: 0;
        }
    }
}

.wpcf7-form label {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #454545;
    margin-bottom: 12px;
    & > span {
        color: #ff2965;
    }
}
.wpcf7-radio {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    label {
        position: relative;
        padding-left: 20px;
        color: #454545;
        &:before {
            content: '';
            display: block;
            height: 18px;
            width: 18px;
            background: #edf9b7;
            left: 0;
            top: 0;
            position: absolute;
            border-radius: 50%;
        }
        &:checked:after {
            top: 6px;
            left: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #35612e;
            content: '';
            display: block;
            position: absolute;
        }
    }
}
.wpcf7 textarea {
    width: 1001px;
    height: 128px;
    border-radius: 1px;
    background-color: #fafdec;
    border: 0;
}
.wpcf7-previous {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #35612e;
}

.wpcf7 h4 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #b8d432;
}
.wpcf7 h6 {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #b8d432;
}

.wpcf7 .head-info {
    padding-bottom: 20px;
    border-bottom: 3px solid #ddf36f;
    .title {
        width: 424px;
        height: 71px;
        font-family: 'SFUIDisplay';
        font-size: 60px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #454545;
    }
    p.intro {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.4px;
        color: #454545;
    }
}