.resources-p {
    #main {
        padding-top: 160px;
    }
}

.resources-p section#resources-banner {
    position: relative;
    padding: 45px 45px 0 45px;
    & > .title {
        font-family: 'SFUIDisplay';
        font-size: 60px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #454545;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.resources-p #top-article-images-carousel{
	.item{
		height: 680px;
		width: 100%;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.resources-p #top-article-carousel{
    width: 823px;
    height: 195px;
    background-color: #ffffff;
    padding: 30px 115px 20px 115px;
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translate3d(-50%,0,0);
    .article {
        .title {
            font-family: 'SFUIDisplay';
            font-size: 30px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #454545;
            margin-bottom: 4px;
        }
        .date {
            height: 15px;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.15;
            letter-spacing: normal;
            color: #b3b3b3;
            margin-bottom: 6px;
        }
        p {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.5px;
            color: #454545;
        }
    }
    .owl-prev, .owl-next {
        width: 15.8px;
        height: 29.5px;
        object-fit: contain;
        transform: rotate(-180deg);
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        outline: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        &.disabled {
            opacity: 0.3;
        }
    }
    .owl-prev {
        left: 40px;
        background-image: url('./images/arrow-left.png');
    }
    .owl-next {
        right: 40px;
        background-image: url('./images/arrow-right.png');
    }
}

.resources-p section#article-categories{
    ul.categories-tabs {
        display: flex;
        justify-content: center;
        border: 0;
        list-style: none;
        margin: 0;
        padding: 8px 0 0 0;
        li {
            padding: 10px;
        }
        .nav-link {
            font-size: 11px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #35612e;
            text-transform: uppercase;
            &.active {
                color: #b8d432;
                border: 0;
            }
        }
    }
    .categories-tabs-content {
        padding: 44px;
        background-color: #fafdec;
    }
}
.list-resources {
    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
    }
    .article {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background: #fff;
        border-radius: 1px;
    }
    .article-img-top{
        width: 100%;
        height: 220px;       
        img {
            max-height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
    .article-body {
        flex: 1 1 auto;
        padding: 20px 20px 30px 20px;
        .title {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #454545;
            margin-bottom: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
        .date {
            height: 15px;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.15;
            letter-spacing: normal;
            color: #b3b3b3;
            margin-bottom: 6px;
        }
        p {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.5px;
            color: #454545;
        }
    }
}