/* main scss. Reformat css file to find duplicated CSS classes */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

html { background-color: #fcfcfc; padding: 40px 35px 50px 40px; }

html, body { width: 100%; height: 100%; margin: 0; }

body { font-size: 16px; font-family: 'HelveticaNeue', sans-serif; font-weight: normal; color: #000000; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; height: auto; }

button, a { cursor: pointer; }

button:hover, a:hover { opacity: 0.89; }

main#main { padding-top: 214px; position: relative; z-index: 1; transition: -webkit-transform 200ms ease-out; box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.06); background-color: #ffffff; margin-bottom: 60px; }

.nt-decor-container { padding: 0 70px; }

.nt-decor-row-23 { margin-left: -23px; margin-right: -23px; }

.nt-decor-row-23 > [class^=col-] { padding-left: 23px; padding-right: 23px; margin-bottom: 32px; }

.heading-line-bottom { font-family: 'HelveticaNeueLTStd-Blk'; font-size: 19px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: 0.3px; color: #000000; text-transform: uppercase; display: inline-block; padding-bottom: 15px; border-bottom: 1px solid #000; margin-bottom: 20px; }

.owl-carousel { height: 100%; }

.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel .owl-item, .owl-carousel .item, .owl-carousel .uplift-container { height: 100%; }

.owl-carousel .owl-dots { position: absolute; top: -34px; right: 0; }

.owl-carousel .owl-dots .owl-dot { width: 12px; height: 12px; background-color: #000000; margin-right: 17px; }

.owl-carousel .owl-dots .owl-dot:nth-last-of-type(1) { margin-right: 0; }

.owl-carousel .owl-dots .owl-dot.active { background-color: #a30010; }

.owl-carousel .owl-item { overflow: hidden; }

.owl-carousel .item { background-position: center top; background-size: cover; background-repeat: no-repeat; }

.list-social-icons { border-top: 1px solid #f8f8f8; margin-bottom: 50px; align-items: center; padding-top: 50px; width: 100%; }

.list-social-icons li { margin-right: 36px; }

.list-social-icons li p { font-family: Arial; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.4px; color: #b3b3b3; }

ul.pagination { justify-content: center; padding-top: 8px; border-top: 2px solid #f8f8f8; }

ul.pagination .page-item .page-link { padding: 17px; font-family: 'HelveticaNeueLTStd-Bd'; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.8px; color: #c9051e; background: no-repeat; border: none; }

ul.pagination .page-item.active .page-link, ul.pagination .page-item:hover .page-link { color: #000; }

/*animation */
@keyframes slidenavAnimation { from { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes slidenavAnimation { from { opacity: 0; }
  to { opacity: 1; } }

@media (max-width: 575px) { .nt-decor-container { padding: 0 10px; } }

@media (min-width: 576px) and (max-width: 767px) { .nt-decor-container { padding: 0 30px; } }

@media only screen and (max-width: 767px) { html { padding: 0; }
  main#main { padding-top: 150px; box-shadow: none; }
  .nt-decor-lead-section { min-height: 265px; }
  .list-social-icons { flex-flow: row wrap; justify-content: space-around; margin-bottom: 20px; padding-top: 20px; }
  .list-social-icons li { margin-right: 0; }
  .list-social-icons li p { font-size: 13px; }
  .list-social-icons li:nth-last-of-type(1) { width: 100%; margin: 20px 0 0 0; text-align: center; } }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sf-ui-display-black-webfont.woff2") format("woff2"), url("./fonts/sf-ui-display-black-webfont.woff") format("woff"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sf-ui-display-regular-webfont.woff2") format("woff2"), url("./fonts/sf-ui-display-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SFUIDisplay'; src: url("./fonts/sfuidisplay-semibold-webfont.woff2") format("woff2"), url("./fonts/sfuidisplay-semibold-webfont.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLTStd-Bd'; src: url("./fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("./fonts/HelveticaNeueLTStd-Bd.otf") format("opentype"), url("./fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("./fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLTStd-Blk'; src: url("./fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("./fonts/HelveticaNeueLTStd-Bd.otf") format("opentype"), url("./fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("./fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.content-section .content-body { padding-bottom: 54px; }

.content-section .content-body .lead-image, .content-section .content-body > img:nth-of-type(1) { margin-top: -110px; }

.content-section .content-body figcaption { padding: 15px; margin-bottom: 10px; }

.content-section .content-body figcaption p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: italic; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; text-align: center; color: #898989; }

.content-section .content-body img + img { margin-top: 70px; }

.nt-decor-lead-section { min-height: 312px; background-color: #f6f6f6; padding: 20px 0; }

.nt-decor-lead-section .head-info { margin-top: -50px; }

.nt-decor-lead-section .head-info .strap { font-family: 'HelveticaNeueLTStd-Blk'; font-size: 19px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 0.3px; color: #000000; text-transform: uppercase; margin-bottom: 10px; margin-top: 18px; }

.nt-decor-lead-section .head-info .strap span { color: #c61f2f; }

.nt-decor-lead-section .head-info .title { font-family: 'HelveticaNeueLTStd-Blk'; font-size: 55px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: 0.8px; text-transform: uppercase; margin-bottom: 30px; }

.nt-decor-lead-section .head-info h2.title { font-size: 38px; font-weight: 900; margin-bottom: 15px; }

.nt-decor-lead-section .head-info .subtitle { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.5px; margin-bottom: 20px; }

.nt-decor-lead-section .head-info p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; margin-bottom: 20px; max-width: 670px; }

.nt-decor-lead-section .head-info .more { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; color: #c9051e; text-transform: uppercase; margin-top: 30px; }

.list-related-projects { border-top: 2px solid  #f8f8f8; padding: 10px 0; }

.list-related-projects > h3, .list-related-projects > h4 { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; text-transform: uppercase; color: #000000; margin-bottom: 24px; }

.list-related-projects .project .image { width: 300px; height: 300px; overflow: hidden; margin-bottom: 14px; }

.list-related-projects .project .section { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; color: #c9051e; text-transform: uppercase; }

.list-related-projects .project .title { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.7px; color: #000000; }

.categories-tabs { margin-top: -200px; margin-bottom: 30px; justify-content: center; }

.categories-tabs:before { content: ''; display: block; width: 36px; height: 5px; margin-top: 11px; background-color: #c61f2f; }

.categories-tabs .nav-link { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; padding: 0 20px; color: #000000; text-transform: uppercase; }

.categories-tabs .nav-link.active, .categories-tabs .nav-link:hover { color: #c61f2f; }

.list-architecture-projects .project { position: relative; margin-bottom: 140px; }

.list-architecture-projects .project .image { background-size: cover; background-position: center center; background-repeat: no-repeat; }

.list-architecture-projects .project .image:before { content: ''; display: block; padding-top: 54.24%; }

.list-architecture-projects .project .info-detail h4 { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; color: #c9051e; text-transform: uppercase; }

.list-architecture-projects .project .info-detail h3 { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.7px; color: #000000; }

.list-architecture-projects .project .info-detail p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; color: #000000; }

.list-architecture-projects .project .info-detail .info-title { padding-bottom: 15px; border-bottom: 3px solid #c61f2f; }

.list-architecture-projects .project:nth-of-type(3n+1) .image:before { padding-top: 54.24%; }

.list-architecture-projects .project:nth-of-type(3n+1) .info-detail { position: absolute; bottom: 0; background: #fff; width: calc(100% - 96px); left: 50%; bottom: -20px; transform: translate3d(-50%, 0, 0); padding: 20px 40px; display: flex; flex-direction: row; }

.list-architecture-projects .project:nth-of-type(3n+1) .info-detail .info-title { flex: 0 0 auto; width: 345px; }

.list-architecture-projects .project:nth-of-type(3n+1) .info-detail .info-content { padding-left: 24px; display: flex; align-items: center; }

.list-architecture-projects .project:nth-of-type(3n+2) .image { width: 767px; }

.list-architecture-projects .project:nth-of-type(3n+2) .image:before { padding-top: 62.84%; }

.list-architecture-projects .project:nth-of-type(3n+2) .info-detail { position: absolute; background: #fff; width: 340px; height: 370px; right: 0; left: auto; top: 50%; transform: translate3d(0, -50%, 0); flex-direction: column; justify-content: space-between; flex-wrap: wrap; display: flex; padding: 70px 30px 10px; }

.list-architecture-projects .project:nth-of-type(3n+2) .info-detail .info-title { flex: 0 0 auto; }

.list-architecture-projects .project:nth-of-type(3n+2) .info-detail .info-content { padding: 20px 0 10px 0; flex: 1 0 auto; }

.list-architecture-projects .project:nth-of-type(3n) .image { width: 659px; height: 482px; margin-left: auto; }

.list-architecture-projects .project:nth-of-type(3n) .info-detail { position: absolute; z-index: 1; background: #fff; width: calc(100% - 659px); height: 482px; left: 0; top: 0; transform: translate3d(0, 0%, 0); flex-direction: column; justify-content: space-between; flex-wrap: wrap; display: flex; justify-content: center; padding: 70px 50px 10px 0; }

.list-architecture-projects .project:nth-of-type(3n) .info-detail .info-content { padding: 20px 0 10px 0; }

.list-architecture-projects .project:nth-last-of-type(1) { margin-bottom: 55px; }

@media only screen and (max-width: 767px) { .nt-decor-lead-section { min-height: 265px; }
  .nt-decor-lead-section .head-info { margin-top: -40px; }
  .nt-decor-lead-section .head-info .title { font-size: 35px; } }

#top-nav { width: 100%; height: 140px; padding: 40px 0 0 0; position: fixed; z-index: 1001; top: 0; left: 0; background: 0; transform: translate3d(0, 0, 0); -webkit-transition: all .3s ease; transition: all .3s ease; width: calc(100% - 75px); left: 50%; transform: translate3d(-50%, 0, 0); }

#top-nav.smart { background: #fff; color: #000; height: 70px; padding: 0; box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15); }

#top-nav.smart .navbar-brand { width: 145px; height: 50px; padding: 0; top: 5px; }

#top-nav.smart #right-nav-menu { padding-top: 14px; }

#top-nav .navbar-brand { width: 233px; height: 80px; padding: 0; position: absolute; top: 27px; left: 70px; }

#top-nav .menu-home .nav-item .nav-link { padding: 12px 23px; font-family: 'HelveticaNeueLTStd-Bd'; font-size: 12px; font-weight: normal; font-style: normal; line-height: 2.5; letter-spacing: 0.5px; color: #000000; text-transform: uppercase; }

#top-nav .menu-home .nav-item.active .nav-link, #top-nav .menu-home .nav-item:hover .nav-link { color: #c61f2f; }

#right-nav-menu { padding-top: 72px; margin-right: -23px; }

#mobile-right-nav-menu-btn { position: absolute; right: 0; display: none; cursor: pointer; border: 1px solid #333; background: #fff; }

#mobile-right-nav-menu-btn .bar1, #mobile-right-nav-menu-btn .bar2, #mobile-right-nav-menu-btn .bar3 { width: 35px; height: 5px; background-color: #333; margin: 6px 0; transition: 0.4s; }

#mobile-right-nav-menu-btn.change .bar1 { -webkit-transform: rotate(-45deg) translate(-9px, 6px); transform: rotate(-45deg) translate(-9px, 6px); }

#mobile-right-nav-menu-btn.change .bar2 { opacity: 0; }

#mobile-right-nav-menu-btn.change .bar3 { -webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-8px, -8px); }

.dropdown-menu { border: 0; background: #c61f2f; padding: 0; left: 23px; top: 50px; border-radius: 2px; }

.dropdown-menu .menu-level-2 { position: relative; padding: 5px 0; min-width: 184px; }

.dropdown-menu .menu-level-2:before { content: ''; display: block; width: 0; height: 0; border-style: solid; border-width: 15px 0 0 15px; border-color: transparent transparent transparent #c61f2f; top: -10px; left: 0; position: absolute; }

.dropdown-menu .menu-level-2 .dropdown-item { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; color: #ffffff; text-transform: uppercase; }

.dropdown-menu .menu-level-2 .dropdown-item:hover { border-radius: 2px; color: #000; }

@media only screen and (max-width: 767px) { #top-nav { width: 100%; height: 70px; padding: 0; left: 0; transform: translate3d(0, 0, 0); }
  #top-nav .navbar-brand { width: 155px; height: 55px; top: 4px; left: 50%; transform: translate3d(-50%, 0, 0); }
  #top-nav > .nt-decor-container { width: 100%; max-width: none; padding: 0; }
  #top-nav .menu-home { background: #fff; box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15); }
  #right-nav-menu { padding: 0px; margin-top: 69px; border-top: 1px solid rgba(0, 0, 0, 0.25); }
  #mobile-right-nav-menu-btn { display: block; top: 14px; right: 20px; } }

@media (min-width: 768px) { #top-nav .menu-home .nav-item.dropdown:hover .dropdown-menu { display: block; animation-name: slidenavAnimation; animation-duration: 0.3s; -webkit-animation-name: slidenavAnimation; -webkit-animation-duration: .3s; -moz-animation-name: slidenavAnimation; -moz-animation-duration: .3s; }
  #top-nav .menu-home .nav-item.dropdown:hover .nav-link { color: #c61f2f; } }

.home-p main#main { padding-top: 152px; height: 100%; margin-bottom: 0; }

.home-p section#new-ideas { height: calc(100% - 125px); overflow: hidden; }

.home-p section#new-ideas .nt-decor-container { position: relative; height: 100%; }

.home-p section#new-ideas .head-info { padding: 46px 23px 16px 0; width: 428px; height: 229px; background-color: #ffffff; position: absolute; z-index: 2; bottom: 64px; }

.home-p section#new-ideas .head-info .subtitle { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: 0.8px; color: #000000; text-transform: uppercase; margin-bottom: 3px; }

.home-p section#new-ideas .head-info .title { font-family: 'HelveticaNeueLTStd-Blk'; font-size: 50px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: 1.9px; color: #000000; text-transform: uppercase; }

.home-p section#new-ideas .head-info p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; color: #000000; margin-bottom: 10px; }

.home-p section#new-ideas .head-info a { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 10px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1; letter-spacing: 0.4px; color: #c61f2f; text-transform: uppercase; }

.home-p section#new-ideas .author { font-family: 'HelveticaNeueLTStd-Bd'; font-size: 11px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 2.73; letter-spacing: 0.4px; color: #fff; height: 64px; display: flex; flex-direction: row; align-items: center; position: absolute; bottom: 0; left: 205px; z-index: 2; padding: 10px 20px; text-transform: uppercase; }

.home-p section#new-ideas .author span:nth-of-type(1) { color: #ca000f; position: relative; margin-right: 8px; padding-right: 10px; }

.home-p section#new-ideas .author span:nth-of-type(1):after { content: ''; display: block; background: #ca000f; position: absolute; width: 2px; height: 14px; right: 0; top: 9px; }

#home-carousel { position: absolute; left: auto; height: 100%; width: auto; min-width: 100%; }

#home-carousel .item { width: 500px; height: 100%; background-color: #fff; cursor: pointer; position: relative; }

#home-carousel .item:after { display: block; content: ''; height: 64px; width: 100%; object-fit: contain; border-radius: 1px; background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76)); bottom: 0; position: absolute; }

#home-carousel .item .image { width: 100%; height: 100%; overflow: hidden; background-size: cover; background-position: center center; background-repeat: no-repeat; }

#home-carousel .owl-prev, #home-carousel .owl-next { position: absolute; bottom: 0; outline: 0; width: 65px; height: 64px; background-color: #000000; color: #fff; }

#home-carousel .owl-prev:hover, #home-carousel .owl-next:hover { background-color: #c61f2f; }

#home-carousel .owl-prev.disabled, #home-carousel .owl-next.disabled { opacity: 0.3; }

#home-carousel .owl-next { left: 65px; }

@media only screen and (max-width: 767px) { .home-p main#main { padding-top: 73px; height: 100%; }
  .home-p footer { display: none; }
  .home-p section#new-ideas { height: calc(100% - 70px); }
  .home-p section#new-ideas > .nt-decor-container { padding: 0; display: flex; flex-direction: column; position: static; }
  .home-p section#new-ideas .head-info { padding: 36px 10px 10px 10px; position: static; width: auto; height: auto; flex: 0 0 auto; }
  .home-p section#new-ideas .head-info .subtitle { font-size: 13px; }
  .home-p section#new-ideas .head-info .title { font-size: 30px; }
  .home-p section#new-ideas .author { position: absolute; width: calc(100% - 130px); left: 130px; background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.89)); flex-direction: column; justify-content: center; align-items: flex-start; }
  .home-p section#new-ideas .author span { line-height: 1.2; }
  .home-p section#new-ideas .author span:nth-of-type(1):after { display: none; }
  #home-carousel { flex: 1; position: static; height: initial; }
  #home-carousel .item:after { display: none; }
  .list-social-icons { flex-flow: row wrap; justify-content: space-around; margin-bottom: 20px; padding-top: 20px; }
  .list-social-icons li { margin-right: 0; }
  .list-social-icons li p { font-size: 13px; }
  .list-social-icons li:nth-last-of-type(1) { width: 100%; margin: 20px 0 0 0; text-align: center; } }

.about-us-p section#key-member { padding: 40px 0; }

.about-us-p section#key-member .list-member .member { display: flex; align-items: center; margin-bottom: 40px; }

.about-us-p section#key-member .list-member .member .avatar { width: 180px; height: 180px; border-radius: 1px; box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.15); border: solid 1px #979797; background-color: #d8d8d8; }

.about-us-p section#key-member .list-member .member .info { width: calc(100% - 180px); padding-left: 32px; }

.about-us-p section#key-member .list-member .member .info .name { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.7px; color: #000000; margin-bottom: 16px; }

.about-us-p section#key-member .list-member .member .info p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; color: #000000; }

.contact-p #contact-form { width: 400px; }

.contact-p #contact-form input, .contact-p #contact-form textarea { width: 100%; border: 0; border-radius: 2px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); background-color: #ffffff; }

.contact-p #contact-form input { height: 50px; }

.contact-p #contact-form label { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.17; letter-spacing: 0.5px; color: #000000; }

.contact-p #contact-form button { width: 195px; height: 51px; border-radius: 2px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); background-color: #c61f2f; margin-top: 20px; margin-bottom: 20px; border: 0; }

.contact-p .contact-area .right-side { padding-top: 30px; }

.contact-p .contact-area .info-block { margin-bottom: 32px; }

.contact-p .contact-area .info-block h3 { font-family: 'SFUIDisplay'; font-size: 20px; font-weight: 900; font-style: normal; font-stretch: normal; line-height: 1.2; letter-spacing: 0.7px; color: #000000; margin-bottom: 7px; }

.contact-p .contact-area .info-block p { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; color: #000000; }

.contact-p .contact-area .info-block:nth-of-type(2) { margin-bottom: 20px; }

.contact-p .contact-area .info-number-block { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.83; letter-spacing: 0.5px; color: #000000; padding-top: 20px; border-top: 1px solid #000; max-width: 297px; }

.factory-p section#carousel-section .container { margin-bottom: 166px; position: relative; }

#factory-images-carousel { height: 675px; margin-top: -245px; }

#factory-images-carousel .owl-prev, #factory-images-carousel .owl-next { width: 31.5px; height: 22.1px; object-fit: contain; transform: rotate(-180deg); position: absolute; top: 50%; transform: translate3d(0, -50%, 0); outline: 0; background-repeat: no-repeat; background-size: 100% 100%; background-position: center center; }

#factory-images-carousel .owl-prev.disabled, #factory-images-carousel .owl-next.disabled { opacity: 0.3; }

#factory-images-carousel .owl-prev { left: -52px; background-image: url("./images/prev-arrow.svg"); }

#factory-images-carousel .owl-next { right: -52px; background-image: url("./images/next-arrow.svg"); }

#factory-article { background: #fff; width: 890px; position: absolute; bottom: -160px; z-index: 1; left: 50%; transform: translateX(-50%); }

#factory-article .article { padding: 25px 40px 25px 28px; display: flex; }

#factory-article .article .right-content { padding-left: 40px; }

#factory-article .article .right-content p.intro { font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.5px; color: #000000; margin-bottom: 40px; }

@media (max-width: 575px) { #factory-images-carousel { height: 300px; }
  #factory-article .article { flex-direction: column; }
  #factory-article .article .right-content { padding-left: 0; } }

@media (min-width: 992px) and (max-width: 1199px) { #factory-images-carousel { height: 553px; }
  #factory-article { width: 750px; } }

@media (min-width: 768px) and (max-width: 991px) { #factory-images-carousel { height: 500px; }
  #factory-article { width: 500px; }
  #factory-article .article { padding: 20px 30px 20px 22px; } }

@media only screen and (max-width: 767px) { .factory-p section#carousel-section .container { margin-bottom: 10px; }
  #factory-images-carousel { height: 300px; }
  #factory-images-carousel .owl-prev, #factory-images-carousel .owl-next { display: none; }
  #factory-article { width: 100%; position: relative; bottom: auto; margin-top: 20px; }
  #factory-article .article { padding: 0; }
  #factory-article .article .right-content p.intro { margin-bottom: 15px; } }

.architecture-p .section-categories-architecture .categories-tabs { margin-top: -260px; }
