
.about-us-p section#key-member {
    padding: 40px 0;
    .list-member {
        .member {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .avatar {
                width: 180px;
                height: 180px;
                border-radius: 1px;
                box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.15);
                border: solid 1px #979797;
                background-color: #d8d8d8;
            }
            .info{
                width: calc(100% - 180px);
                padding-left: 32px;
                .name {
                    font-family: 'SFUIDisplay';
                    font-size: 20px;
                    font-weight: 900;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: 0.7px;
                    color: #000000;
                    margin-bottom: 16px;
                }
                p{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: 0.5px;
                    color: #000000;
                }
            }
        }
    }
}
#our-team-carousel {
    .item {
        width: 996px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .block {
            width: 166px;
            height: 166px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url('../images/aboutus/greysquare.png');
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    #our-team-carousel {
        .item {
            width: 777px;
            .block {
                width: 129px;
                height: 129px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    .about-us-p section#key-member {
        .list-member {
            .member {
                .avatar {
                    width: 150px;
                    height: 150px;
                }
                .info {
                    padding-left: 20px;
                    flex: 1;
                }
            }
        }
    }
    #our-team-carousel {
        .item {
            width: 633px;
            .block {
                width: 105px;
                height: 105px;
            }
        }
    }
}

// handle moble
@media only screen and (max-width: 767px) {
    .about-us-p section#key-member {
        padding: 20px 0;
        .list-member {
            .member {
                .avatar {
                    width: 120px;
                    height: 120px;
                }
                .info {
                    width: calc(100% - 120px);
                    padding-left: 10px;
                    flex: 1;
                }
            }
        }
    }
    .about-us-p section#our-team {
        margin-bottom: 20px;
    }
    #our-team-carousel {
        .item {
            width: 100%;
            .block:not(.image) {
                display: none;
            }
            .block.image {
                width: 50%
            }
        }
    }
}