/* main scss. Reformat css file to find duplicated CSS classes */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
html {
    background-color: #fcfcfc;
    padding: 20px 10px 30px 10px;
}

html,body{
    width: 100%;
    height: 100%;
    margin:0;
}
body {
    font-size: 16px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    color: #000000;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
a{
    color: inherit;
    &:hover {
        opacity: 0.69;
        color: #c61f2f;
    }
}
button, a {
    cursor: pointer;
    &:hover {
        opacity: 0.89;
    }
}

main#main{
    padding-top: 214px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

.nt-decor-container {
    padding: 0 70px;
}
.nt-decor-row-23 {
    margin-left: -23px;
    margin-right: -23px;
    & > [class^=col-] {
        padding-left: 23px;
        padding-right: 23px;
        margin-bottom: 32px;
    }
}

.heading-line-bottom {
    font-family: 'HelveticaNeueLTStd-Blk';
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.owl-carousel {
    height: 100%;
    .owl-stage-outer,
    .owl-stage,
    .owl-item, 
    .item, .uplift-container {
        height: 100%;
    }
    .owl-dots {
        position: absolute;
        top: -34px;
        right: 0;
        .owl-dot {
            width: 12px;
            height: 12px;
            background-color: #000000;
            margin-right: 17px;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
            &.active {
                background-color: #a30010;
            }
        }
    }
    .owl-item {
        overflow: hidden;
    }
    
    .item {
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.list-social-icons {
    border-top: 1px solid #f8f8f8;
    margin-bottom: 50px;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    li {
        margin-right: 36px;
        p{
            font-family: Arial;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #b3b3b3;
        }
    }
}

ul.pagination {
    justify-content: center;
    padding-top: 8px;
    border-top: 2px solid #f8f8f8;
    .page-item {
        .page-link {
            padding: 17px;
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.8px;
            color: #c9051e;
            background: no-repeat;
            border: none;
        }
        &.active, &:hover {
            .page-link {
                color: #000;
            }
        }
    }
}
/*animation */
@keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .nt-decor-container {
        padding: 0 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .nt-decor-row-23 {
        margin-left: -10px;
        margin-right: -10px;
        & > [class^=col-] {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 812px) {
    .nt-decor-container {
        padding: 0 30px;
    }
}

// handle moble
@media only screen and (max-width: 812px) {
    html {
        padding: 0;
    }
    main#main {
        padding-top: 70px;
        box-shadow: none;
    }
    .nt-decor-lead-section {
        min-height: 265px;
    }

    .list-social-icons {
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        padding-top: 20px;
        li {
            margin-right: 0;
            p {
                font-size: 13px;
            }
        }
        li:nth-last-of-type(1){
            width: 100%;
            margin: 20px 0 0 0;
            text-align: center
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 813px) and (max-width: 991px) { 
    .nt-decor-container {
        padding: 0 30px;
    }
    .nt-decor-row-23 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .nt-decor-row-23 > [class^=col-] {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .nt-decor-container {
        padding: 0 30px;
    }
    .nt-decor-row-23 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .nt-decor-row-23 > [class^=col-] {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }
}

// Large devices, macbooks (laptop, 992px and up to 1440px)
@media (min-width: 992px) and (max-width: 1440px) { 
    html {
        padding: 10px;
    }
    .list-social-icons {
        margin-bottom: 30px;
        padding-top: 30px;
    }
}