/* main scss. Reformat css file to find duplicated CSS classes */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
html {
    background-color: #fcfcfc;
    padding: 40px 38px 50px;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
}
body {
    font-size: 16px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    color: #000000;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
button, a {
    cursor: pointer;
    &:hover {
        opacity: 0.89;
    }
}

main#main{
    padding-top: 214px;
    position: relative;
    z-index: 1;
    transition: -webkit-transform 200ms ease-out;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 60px;
}

.nt-decor-container {
    padding: 0 70px;
}
.nt-decor-row-23 {
    margin-left: -23px;
    margin-right: -23px;
    & > [class^=col-] {
        padding-left: 23px;
        padding-right: 23px;
        margin-bottom: 32px;
    }
}

.heading-line-bottom {
    font-family: 'HelveticaNeueLTStd-Blk';
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.owl-carousel {
    height: 100%;
    .owl-stage-outer,
    .owl-stage,
    .owl-item, 
    .item, .uplift-container {
        height: 100%;
    }
    .owl-dots {
        position: absolute;
        top: -34px;
        right: 0;
        .owl-dot {
            width: 12px;
            height: 12px;
            background-color: #000000;
            margin-right: 17px;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
            &.active {
                background-color: #a30010;
            }
        }
    }
    .owl-item {
        overflow: hidden;
    }
    
    .item {
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.list-social-icons {
    border-top: 1px solid #f8f8f8;
    margin-bottom: 50px;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    li {
        margin-right: 36px;
        p{
            font-family: Arial;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #b3b3b3;
        }
    }
}

.nt-decor-lead-section {
    min-height: 312px;
    background-color: #f6f6f6;
    padding: 20px 0;
    .head-info {
        margin-top: -50px;
        .strap {
            font-family: 'HelveticaNeueLTStd-Blk';
            font-size: 19px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 10px;
            margin-top: 18px;
            span {
                 color: #c61f2f;
            }
        }
        .title {
            font-family: 'HelveticaNeueLTStd-Blk';
            font-size: 55px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        h2.title {
            font-size: 38px;
            font-weight: 900;
            margin-bottom: 15px;
        }
        .subtitle {
            font-family: 'SFUIDisplay';
            font-size: 20px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
        }
        p {
            font-family: Arial;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            max-width: 670px;
        }
        .more {
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.73;
            letter-spacing: 0.4px;
            color: #c9051e;
            text-transform: uppercase;
            margin-top: 30px;
        }
    }
}

ul.pagination {
    justify-content: center;
    padding-top: 8px;
    border-top: 2px solid #f8f8f8;
    .page-item {
        .page-link {
            padding: 17px;
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.8px;
            color: #c9051e;
            background: no-repeat;
            border: none;
        }
        &.active, &:hover {
            .page-link {
                color: #000;
            }
        }
    }
}
/*animation */
@keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .nt-decor-container {
        padding: 0 10px;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .nt-decor-container {
        padding: 0 30px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

}