.factory-p section#carousel-section {
    .container {
        margin-bottom: 166px;
        position: relative;
    }
}
#factory-images-carousel {
    height: 675px;
    margin-top: -245px;
    .owl-prev, .owl-next {
        width: 31.5px;
        height: 22.1px;
        object-fit: contain;
        transform: rotate(-180deg);
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        outline: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        &.disabled {
            opacity: 0.3;
        }
    }
    .owl-prev {
        left: -52px;
        background-image: url('./images/prev-arrow.svg');
    }
    .owl-next {
        right: -52px;
        background-image: url('./images/next-arrow.svg');
    }
}
#factory-article {
    background: #fff;
    width: 890px;
    position: absolute;
    bottom: -160px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    .article {
        padding: 25px 40px 25px 28px;
        display: flex;
        .right-content {
            padding-left: 40px;
            p.intro {
                font-family: Arial;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.5px;
                color: #000000;
                margin-bottom: 40px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    #factory-images-carousel {
        height: 300px;
    }
    #factory-article {
        .article {
            flex-direction: column;
            .right-content {
                padding-left: 0;
            }
        }
    }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    #factory-images-carousel {
        height: 553px;
    }
    #factory-article {
        width: 750px;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    #factory-images-carousel {
        height: 500px;
    }
    #factory-article {
        width: 500px;
        .article {
            padding: 20px 30px 20px 22px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .factory-p section#carousel-section .container {
        margin-bottom: 10px;
    }
    #factory-images-carousel {
        height: 300px;
        .owl-prev, .owl-next {
            display: none;
        }
    }
    #factory-article {
        width: 100%;
        position: relative;
        bottom: auto;
        margin-top: 20px;
        .article {
            padding: 10px;
            .right-content {
                p.intro{
                    margin-bottom: 15px;
                }
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
}