#top-nav {
    width: 100%;
    height: 140px;
    padding: 40px 0 0 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    &.smart {
        background: #fff;
        color: #000;
        height: 70px;
        padding: 0;
        .nt-decor-container {
            box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
        }
        .navbar-brand {
            width: 145px;
            height: 50px;
            padding: 0;
            top: 5px;
        }
        #right-nav-menu {
            padding-top: 14px;
        }
    }
    .navbar-brand {
        width: 233px;
        height: 80px;
        padding: 0;
        position: absolute;
        top: 27px;
        left: 70px;
    }
}
#top-nav .menu-home {
    .nav-item {
        .nav-link {
            padding: 12px 23px;
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: 0.5px;
            color: #000000;
            text-transform: uppercase;
        }
        &.active, &:hover {
            .nav-link {
                color: #c61f2f;
            }
        }
    }
}
#right-nav-menu {
    padding-top: 72px;
    margin-right: -23px;
}
#mobile-right-nav-menu-btn {
    top: 0;
    right: 0;
    position: absolute;
}
.dropdown-menu {
    border: 0;
    background: #c61f2f;
    padding: 0;
    left: 23px;
    top: 50px;
    border-radius: 2px;
    .menu-level-2 {
        position: relative;
        padding: 5px 0;
        min-width: 184px;
        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 0 15px;
            border-color: transparent transparent transparent #c61f2f;
            top: -10px;
            left: 0;
            position: absolute;
        }
        .dropdown-item {
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.73;
            letter-spacing: 0.4px;
            color: #ffffff;
            text-transform: uppercase;
            &:hover {
                border-radius: 2px;
                color: #000;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {}

// Support devices (desktops, tablets, 768px and up)
@media (min-width: 768px) { 
    #top-nav .menu-home {
        .nav-item.dropdown {
            &:hover {
                .dropdown-menu {
                    display: block;
                    animation-name: slidenavAnimation;
                    animation-duration: 0.3s;
                  
                    -webkit-animation-name: slidenavAnimation;
                    -webkit-animation-duration:.3s;
                  
                    -moz-animation-name: slidenavAnimation;
                    -moz-animation-duration:.3s;
                }
                .nav-link {
                    color: #c61f2f;
                }
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
}