.home-p main#main {
    padding-top: 152px;
    height: 100%;
    margin-bottom: 0;
}
.home-p section#new-ideas {
    height: calc(100% - 125px);
    overflow: hidden;
    .nt-decor-container {
        position: relative;
        height: 100%;
    }
    .head-info {
        padding: 46px 23px 16px 0;
        width: 428px;
        height: 229px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        z-index: 2;
        bottom: 64px;
        .subtitle {
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.8px;
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 3px;
        }
        .title {
            font-family: 'HelveticaNeueLTStd-Blk';
            font-size: 50px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1.9px;
            color: #000000;
            text-transform: uppercase;
        }
        p{
            font-family: Arial;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.5px;
            color: #000000;
            margin-bottom: 10px;
        }
        a {
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.4px;
            color: #c61f2f;
            text-transform: uppercase;
        }
    }
    .author {
        font-family: 'HelveticaNeueLTStd-Bd';
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.73;
        letter-spacing: 0.4px;
        color: #fff;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 205px;
        z-index: 2;
        padding: 10px 20px;
        text-transform: uppercase;
        .author-nav:nth-of-type(1) {
            color: #ca000f;
            position: relative;
            margin-right: 8px;
            padding-right: 10px;
            &:after {
                content: '';
                display: block;
                background: #ca000f;
                position: absolute;
                width: 2px;
                height: 14px;
                right: 0;
                top: 9px;
            }
        }
    }
    .mask {
        display: block;
        content: '';
        height: 64px;
        width: calc(100% - 270px);
        object-fit: contain;
        border-radius: 1px;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76));
        bottom: 0;
        position: absolute;
        z-index: 2;
        left: 200px;
    }
}
#home-carousel {
    position: absolute;
    left: auto;
    height: 100%;
    width: auto;
    min-width: 100%;
    .item {
        width: 500px;
        height: 100%;
        background-color: #fff;
        cursor: pointer;
        position: relative;
        .image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    .owl-prev, .owl-next {
        position: absolute;
        bottom: 0;
        outline: 0;
        width: 65px;
        height: 64px;
        background-color: #000000;
        color: #fff;
        &:hover {
            background-color: #c61f2f;
        }
        &.disabled {
            opacity: 0.3;
        }
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        left: 65px;
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {}
// handle mobile
@media only screen and (max-width: 767px) {
    .home-p main#main {
        padding-top: 73px;
        height: 100%;
    }
    .home-p footer {
        display: none;
    }
    .home-p section#new-ideas {
        height: calc(100% - 70px);
        & > .nt-decor-container {
            padding: 0;
            display: flex;
            flex-direction: column;
            position: static;
        }
        .head-info {
            padding: 36px 10px 10px 10px;
            position: static;
            width: auto;
            height: auto;
            flex: 0 0 auto;
            .subtitle {
                font-size: 13px;
            }
            .title {
                font-size: 30px;
            }
        }
        .author {
            position: absolute;
            width: calc(100% - 130px);
            left: 130px;
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.89));
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .author-nav {
                line-height: 1.2;
            }
            .author-nav:nth-of-type(1) {
                margin-bottom: 2px;
                &:after {
                    display: none;
                }
            }
        }
    }
    #home-carousel {
        flex: 1;
        position: static;
        height: initial;
        .item {
            &:after {
                display: none;
            }
        }
    }
    .list-social-icons {
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        padding-top: 20px;
        li {
            margin-right: 0;
            p {
                font-size: 13px;
            }
        }
        li:nth-last-of-type(1){
            width: 100%;
            margin: 20px 0 0 0;
            text-align: center
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { }