.content-section {
    .content-body {
        padding-bottom: 54px;
        .lead-image, 
        & >img:nth-of-type(1) { 
            margin-top: -110px;
        }
        figcaption {
            padding: 15px;
            margin-bottom: 10px;
            p {
                font-family: Arial;
                font-size: 12px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.5px;
                text-align: center;
                color: #898989;
            }
        }
        img + img {
            margin-top: 70px;
        }
    }
}

.list-related-projects {
    border-top: 2px solid  #f8f8f8;
    padding: 10px 0;
    & > h3,
    & > h4 {
        font-family: 'HelveticaNeueLTStd-Bd';
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.73;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 24px;
    }
    .project {
        .image {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin-bottom: 14px;
        }
        .section {
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.73;
            letter-spacing: 0.4px;
            color: #c9051e;
            text-transform: uppercase;
        }
        .title {
            font-family: 'SFUIDisplay';
            font-size: 20px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: 0.7px;
            color: #000000;
        }
    }
}

.categories-tabs {
    margin-top: -200px;
    margin-bottom: 30px;
    justify-content: center;
    &:before {
        content: '';
        display: block;
        width: 36px;
        height: 5px;
        margin-top: 11px;
        background-color: #c61f2f;
    }
    .nav-link {
        font-family: 'HelveticaNeueLTStd-Bd';
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.73;
        letter-spacing: 0.4px;
        padding: 0 20px;
        color: #000000;
        text-transform: uppercase;
        &.active, &.hover {
            color: #c61f2f;
        }
    }
}

.list-architecture-projects {
    .project {
        position: relative;
        margin-bottom: 140px;
        .image {
            &:before {
                content: '';
                display: block;
                padding-top: 54.24%
            }
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .info-detail {
            h4 {
                font-family: 'HelveticaNeueLTStd-Bd';
                font-size: 11px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.73;
                letter-spacing: 0.4px;
                color: #c9051e;
                text-transform: uppercase;
            }
            h3 {
                font-family: 'SFUIDisplay';
                font-size: 20px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.7px;
                color: #000000;
            }
            p {
                font-family: Arial;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.5px;
                color: #000000;
            }
            .info-title {
                padding-bottom: 15px;
                border-bottom: 3px solid #c61f2f;
            }
        }
    }
    .project:nth-of-type(3n+1){
        .image {
            &:before {
                padding-top: 54.24%;
            }
        }
        .info-detail {
            position: absolute;
            bottom: 0;
            background: #fff;
            width: calc(100% - 96px);
            left: 50%;
            bottom: -20px;
            transform: translate3d(-50%, 0, 0);
            padding: 20px 40px;
            display: flex;
            flex-direction: row;
            .info-title {
                flex: 0 0 auto;
                width: 345px;
            }
            .info-content {
                padding-left: 24px;
                display: flex;
                align-items: center;
            }
        }
    }
    .project:nth-of-type(3n+2){
        .image {
            width: 767px;
            &:before {
                padding-top: 62.84%;
            }
        }
        .info-detail {
            position: absolute;
            background: #fff;
            width: 340px;
            height: 370px;
            right: 0;
            left: auto;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            display: flex;
            padding: 70px 30px 10px;
            .info-title {
                flex: 0 0 auto;
            }
            .info-content {
                padding: 20px 0 10px 0;
                flex: 1 0 auto;
            }
        }
    }
    .project:nth-of-type(3n){
        .image {
            width: 659px;
            height: 482px;
            margin-left: auto;
        }
        .info-detail {
            position: absolute;
            z-index: 1;
            background: #fff;
            width: calc(100% - 659px);
            height: 482px;
            left: 0;
            top: 0;
            transform: translate3d(0, 0%, 0);
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            padding: 70px 50px 10px 0;
            .info-content {
                padding: 20px 0 10px 0;
            }
        }
    }
    .project:nth-last-of-type(1) {
        margin-bottom: 55px;
    }
}