/* main scss. Reformat css file to find duplicated CSS classes */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,h
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
}
body {
    padding-top: 80px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix {
    zoom:1;
}
button, .btn{
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
    &:focus{
        outline: 0;
    }
}
a {
    text-decoration: none;
    color: #a9aaac;
    cursor: pointer;
}
a:focus, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
    & > div{
        padding-right: 10px;
        padding-left: 10px;
    }
}
main#main{
    position: relative;
    z-index: 1;
    transition: -webkit-transform 200ms ease-out;
}
footer{
    background-color: #333333;
    font-size: 0.8125em;
    font-weight: 500;
    color: #555555;
    padding: 0 0 55px 0;
    p{
        font-family: 'Roboto';
    }
    .footer-list{
        padding: 47px 0 30px 0;
        margin: 0 0 22px 0;
        border-bottom: 1px solid #fbb845;
        &> li{
            list-style: none;
            float: left;
            &>p{
                margin: 0 0 5px 0;
            }
        }
        &> li:nth-last-of-type(1){
            &>p{
                margin: 0 0 22px 0;
            }
        }
        li.logo{
            margin: 7px 100px 0 0;
        }
        li.headquarter{
            margin: 0 70px 0 0;
        }
        li.branches{
            margin: 0 95px 0 0;
        }
        .tel{
            margin-right: 24px;
        }
        .tel, .fax{
            display: inline-block;
            label{
                margin: 0 5px 0 0;
            }
        }
        .title{
            line-height: 115.38%;
        }
        .text{
            font-size: 1em;
            color: #888888;
            font-weight:normal;
            line-height: 169.23%;
        }
    }
    .copyright{
        .conditions,.lang{
            display: inline-block;
            vertical-align: top;
        }
        .conditions{
            margin: 0 20px 0 0;
            font-size: 13px;
            font-weight: normal;
            text-align: right;
            color: #555555;
            line-height: 115.38%;
        }
        .lang{
            width: 30px;
            height: 20px;
            border-radius: 2px;
            margin: -2px 0 0 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
#logo-footer{
    width: 99px;
    height: 60px;
    display: block;
}
ul.social-network{
    li{
        display: inline-block;
        height: 22px;
        vertical-align: top;
        margin-right: 32px;
        img{
            vertical-align: top;
        }
        img:nth-of-type(2){
            display: none;
        }
        &:hover{
            img:nth-of-type(1){
                display: none;
            }
            img:nth-of-type(2){
                display: block;
            }
        }
        a{
            display: block;
        }
    }
    li:nth-last-of-type(1){
        margin-right: 0;
    }
    .twitter{
        padding-top: 2px;
    }
    .youtube, .email{
        padding-top: 3px;
    }
}


.container{
    position: relative;
    padding: 0;
}
.overlay {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px 1px #e2e2e2;
    -webkit-box-shadow: 0 1px 2px 1px #e2e2e2;
}
#overlay{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
    z-index: 9999;
    overflow: hidden;
    &.open{
        top: 0;
    }
}
/* SEARCH */
#search-view-overlay{
    padding-right: 0 !important;
}
.search-field-home-group{
    margin-top: 80px;
    padding-top: 75px;
    height: 210px;
    background: #fff;
    .input-group{
        padding-bottom: 15px;
        border-bottom: 2px solid #000;
        input{
            border: 0;
            border-radius: 0;
            background: transparent;
            padding: 0;
            height: 42px;
            box-shadow: none;
            font-size: 2.25em;
            font-weight: bold;
            font-style: normal;
            color: #333333;
        }
    }
}
#clear-search-btn{
    height: 36px;
    width: 36px;
    box-shadow: none;
    background-color: transparent;
    background: url(../images/ic-cancel.svg) center center no-repeat;
    background-size: 100% 100%;
}
#home-enter-search-btn{
    height: 36px;
    width: 36px;
    box-shadow: none;
    background-color: transparent;
    background: url(../images/ic-keyboard-return.svg) center center no-repeat;
    background-size: 100% 100%;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    &.active{
        background:url(../images/ic-keyboard-return-color.svg) center center no-repeat; 
        background-size: 100% 100%;
    }
}

/* Carousel */
.carousel-dots{
    .owl-controls{
        width: 100%;
        height: 30px;
        background: transparent;
        text-align: center;
        position: relative;
        bottom: 30px;
        line-height: normal;
        .owl-dots{
            text-align: center;
            position: absolute;
            background: transparent;
            bottom: 0;
            right: 0;
            padding: 12px 2px;
            .owl-dot{
                width: 8px;
                height: 8px;
                opacity: 0.2;
                background-color: #333333;
                margin-right: 8px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
                &:nth-last-of-type(1){
                    margin-right: 0;
                }
            }
            .owl-dot.active{
                border: 0;
                opacity: 1;
                background-color: #f58221;
            }
        }
    }
}
.nav-oval{
    .owl-prev, .owl-next{
            width: 60px;
            height: 42px;
            border-radius: 20px;
            border: solid 1px #f58221;
            background-size: 18px 12px;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transition: background 200ms ease-in;
            -moz-transition: background 200ms ease-in;
            -ms-transition: background 200ms ease-in;
            -o-transition: background 200ms ease-in;
            transition: background 200ms ease-in;
                    &:hover{
                background-color: #f58221;
                box-shadow: 0 10px 20px 0 rgba(255, 131, 36, 0.3);
            }
    }
    .owl-prev{
        float: left;
        margin-left: 40%;
        background-image: url(../images/prev_long_orange.png);
        &:hover{
            background-image: url(../images/prev_long_white.png);
        }
    }
    .owl-next{
        float: right;
        margin-right: 40%;
        background-image: url(../images/next_long_orange.png);
        &:hover{
            background-image: url(../images/next_long_white.png);
        }
    }
    .owl-controls{
        .owl-dots{
            position: static;
            display: inline-block;
            margin: auto;
            padding: 16px 2px;
        }
    }
}
.nav-circle{
    .owl-prev, .owl-next{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        text-align: center;
        margin-top: -20px;
        border-radius: 50%;
        background-color: #ffffff;
        &:hover{
            box-shadow: 10px 10px 25px 0 rgba(0,0,0,0.15);
        }
        &:before{
            font-family: 'FontAwesome';
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            line-height: 40px;
            color: #888888;
        }
    }
    .owl-prev{
        left: -10px;
        &:before{
            content: "\f104";
        }
    }
    .owl-next{
        right: -10px;
        &:before{
            content: "\f105";
        }
    }
}
.vertical-logo{
    position: absolute;
    z-index: 1;
    left: -50px;
    top: 33px;
    width: 114px;
    height: 14px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: rgba(136, 136, 136, 0.3);
    &:before{
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        margin-left: -65px;
        margin-bottom: -8px;
        background-color: #f3f3f3;
    }
}
.vertical-line{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 200px;
    background-color: #f3f3f3;
    left: 0;
    top: -100px;
}
.video-overlay{
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-repeat: repeat;
}

/* style TITLE HEADING */
.title-group{
    position: relative;
    .title-heading{
        position: absolute;
        width: 100%;
        top: 0;
        margin: 65px 0 0 0;
    }
}
.title-shadow{
    font-family: 'Roboto';
    font-size: 5.625em;
    line-height: 1;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #f7f8f9;
    position: static;
    width: 100%;
    opacity: 0.8;
}
.title-heading{
    font-family: 'Tinos';
    font-size: 2.25em;
    font-weight: bold;
    font-style: normal;
    color: #3e405c;
    text-align: left;
    margin: 113px 0 34px 0;
    &:after{
        content: '';
        display: block;
        width: 1.11em;
        height: 0.11em;
        background-color: #f58221;
        margin-top: 27px;
    }
}
.title-heading_center{
    text-align: center;
    &:after{
        background-color: #f58221;
        text-align: center;
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        left: 50%;
        margin-left: -20px;
        margin-top: 17px;
    }
}
.title-heading-noline{
    &:after{
        display: none;
    }
}
.title-heading-left-line{
    position: absolute;
    top: 150px;
    left: -60px;
    font-size: 2.25em;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    &:before{
        content: '';
        display: block;
        width: 2.78em;
        height: 0.22em;
        background-color: #f58221;
        margin-right: 0.56em;
        float: left;
        margin-top: 0.68em;
    }
}
/* end style TITLE HEADING */
p.info{
    max-width: 550px;
    margin: auto;
    color: #888888;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 0.03em;
}
p{
    font-size: 1em;
    line-height: 1.63;
    margin: 0 0 38px 0;
    &.no-break{
        margin-bottom: 0 !important;
    }
}
p.pullQuote{
    font-family: 'Tinos';
    font-size: 1.875em;
    font-weight: bold;
    font-style: italic;
    line-height: 1.1;
    color: #ff7500;
}
.content-body{
    & *{
        font-family: 'Tinos';
    }
}
h4{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1875em;
    color: #1c1f4b;
    margin: 0 0 20px 0;
    &.no-break{
        margin: 0;
    }
}
.news-wrapper{
    .image{
        overflow: hidden;
        margin-bottom: 30px;
        text-align: center;
        border-radius: 4px;
    }
    .section-name{
          font-size: 0.75em;
          line-height: 1.17;
          font-weight: 500;
          font-style: normal;
          color: #888888;
          text-align: left;
          margin-bottom: 10px;
    }
    .content{
        text-align: left;
        height: 190px;
        overflow: hidden;
        margin-bottom: 60px;
        .title{
            font-family: 'Tinos';
            font-size: 1.5em;
            font-weight: bold;
            font-style: normal;
            line-height: 1.25;
            color: #3e405c;
            margin-bottom: 20px;
        }
        .info{
            color: #888888;
            font-size: 1em;
            font-weight: normal;
            font-style: normal;
            line-height: 1.63;
            letter-spacing: 0.03em;
            text-align: left;
        }
    }
    .view{
        position: relative;
        text-align: left;
        display: block;
        width: 100%;
        line-height: 1.17;
        font-size: 0.875em;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 5px;
        border-bottom: 1px solid #d8d8d8;
        &:after{
            content: '';
            display: inline-block;
            display: block;
            position: absolute;
            bottom: -1px;
            width: 0;
            height: 4px;
            background-image: linear-gradient(269deg, #fbb845, #f58221);
            -webkit-transition: width 500ms ease-in-out;
            -moz-transition: width 500ms ease-in-out;
            -ms-transition: width 500ms ease-in-out;
            -o-transition: width 500ms ease-in-out;
            transition: width 500ms ease-in-out;
        }
    }
}
.news-wrapper:hover{
    .view{
        color: #ff7500;
        &:after{
            width: 100%;
        }
    }
    .content{
        .title{
            color: #ff7500;
        }
    }
}
.articles-two-col{
    margin-left: -30px;
    margin-right: -30px;
    .news-wrapper{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 60px;
        .image{
            height: 320px;
            img{
                min-width: 100%;
            }
        }
        .content{
            height: 130px;
        }
    }
}
.articles-three-col{
    margin-left: -30px;
    margin-right: -30px;
    .news-wrapper{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 60px;
        .image{
            height: 202px;
            img{
                min-width: 100%;
            }
        }
        .content{
            height: 180px;
        }
    }
}
.article-content{
    padding: 0 200px;
    font-family: 'Tinos',serif;
    .images-two-col{
        & > .row{
            margin-left: -200px;
            margin-right: -200px;
        }
        table{
            td:nth-of-type(odd){
                padding-right: 10px;
            }
            td:nth-of-type(even){
                padding-left: 10px;
            }
        }
        figcaption{
            font-size: 0.875em;
            font-style: italic;
            line-height: 1.71;
            text-align: center;
            color: #555555;
            margin-bottom: 38px;
        }
    }
    p.pullQuote{
        font-family: 'Tinos';
        font-size: 2.25em;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #f58221;
        &:before, &:after{
            content: '';
            display: block;
            width: 80px;
            height: 4px;
            background-color: #f58221;
            margin: auto;
        }
        &:before{
            margin-bottom: 20px;
        }
        &:after{
            margin-top: 20px;
        }
    }
    .image{
        margin-bottom: 25px;
    }
}
/* List grid items */
.detail-youtube-item{
    text-align: center;
    padding: 20px 2px;
    &:hover{
        .wrapper{
            box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.15);
        }
    }
    .title{
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 1em;
        line-height: 1.18;
        font-weight: bold;
        color: #1c1f4b;
        text-align: left;
    }
    .wrapper{
        padding: 20px 18px 0 18px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    }
    figure{
        position: relative;
        top: -20px;
        margin-top: -20px;
    }
    .youtube-info{
        text-align: left;
        .icon{
            width: 24px;
            height: 17px;
            margin-right: 16px;
            display: inline-block;
            vertical-align: middle;
        }
        .data{
            padding-left: 20px;
            border-left: 1px solid #f3f3f3;
            display: inline-block;
            vertical-align: middle;
            label{
                font-size: 0.75em;
                line-height: 2;
                color: #888888;
                width: 75px;
            }
            span{
                font-size: 0.75em;
                line-height: 2;
                font-weight: 500;
                color: #555555;
            }
        }   
    }   
}
/* end grid item*/
.view-action-bar{
    margin-top: 50px;
    color: #888888;
    .number-category{
        font-weight: bold;
        color: #1c1f4b;
    }
}
.list-detail{
    margin-top: 40px;
    & > .row{
        margin-left: -36px;
        margin-right: -36px;
        & > div{
            padding: 0 36px;
            margin-bottom: 60px;
        }
    }
    .detail-item{
        figure{
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
        }
        img{
            max-height: 313px;
            margin: auto;
            overflow-y: hidden;
        }
        figcaption{
            height: 50px;
            overflow: hidden;
            padding: 0 0 0 20px;
            display: table;
            text-align: left;
            p{
                font-family: 'Roboto';
                display: table-cell;
                vertical-align: middle;
                margin: 0;
                background-color: #ffffff;
                font-size: 1em;
                line-height: 1.2;
                letter-spacing: 0.03em;
                color: #888888;
            }
        }
        &:hover{
            figure{
                box-shadow: 10px 10px 25px 0 rgba(0,0,0,0.15);
                p {
                    color: #f58221;
                    font-weight: bold;
                }
            }
        }
    }
}
.list-detail-youtube{
    & > .row{
        margin-bottom: 80px;
    }
}
/* pagination */
.pagination-bar{
    text-align: center;
    margin-bottom: 75px;
    ul{
        li{
            display: inline-block;
            margin: 0 0 0 -4px;
            a{
                padding: 0.3125em 1.875em;
                font-size: 1.5em;
                font-weight: 500;
                text-align: center;
                color: #888888;
            }
        }
        li:hover{
            a{
                color: #f58221;
            }
        }
        li.active{
            position: relative;
            &:after{
                background-color: #f58221;
                content: '';
                display: block;
                width: 1.5em;
                height: 0.125em;
                margin: auto;
                position: absolute;
                left: 50%;
                margin-left: -0.75em;
            }
            a{
                color: #f58221;
            }
        }

    }
}

/* POP UP */
.tp-popup{
    background-color: #fff;
    & > .container{
        padding: 150px 50px 100px 50px;
        height: 100%;
    }
    .left-cover{
        float: left;
        width: 265px;
        text-align: center;
        .image{
            border-radius: 2px;
            box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.15);
            margin-bottom: 30px;
        }
    }
    .right-content{
        padding: 45px 40px;
        margin-left: 265px;
        overflow-y: auto;
        height: 100%;
        h4 i{
            font-family: 'Tinos';
            font-weight: bold;
        }
        .section{
            font-size: 0.75em;
            line-height: 1.17;
            font-weight: 500;
            color: #777777;
            margin-bottom: 10px;
        }
        .title{
            font-size: 2.25em;
            font-weight: bold;
            line-height: 1.17;
            color: #333333;
            margin-bottom: 22px;
        }
        .image{
            margin-bottom: 30px;
        }
    }
}
.close-popup{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 9999;
    top: 40px;
    right: 40px;
    background: url(../images/ic-close_black.svg) center center no-repeat;
    background-size: 26px 26px;
    cursor: pointer;
}
/* end POP UP */
/* tabpanel doi tac - partners */
.partner-panel{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    top: 150px;
    right: 0;
    border: 0;
    width: 380px;
    height: 50px;
    line-height: 22px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.1);
    li{ 
        list-style: none;
        float: left;
        width: 50%;
        height: 100%;
        a{
            padding: 0;
            font-size: 18px;
            font-weight: bold;
            color: #888888;
        }
        &:nth-last-of-type(1){
            border-left: 1px solid #e9e9e9;
        }
        &.active{
                a{
                    color: #f58221;
                }
        }
    }
}
/*handle animation */
.tp-animation{
  opacity: 0;
}

.tp-animation.animated{
    opacity: 1;
}
/*Define button */
.btn-border_right-icon_right{
    width: 180px;
    min-width: 180px;
    height: 50px;
    border-radius: 2px;
    border: solid 2px #ffffff;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    &:hover, &:active{
    
    }
    span{
        display: inline-block;
        vertical-align: middle;
        background-size: 16px 16px;
        background-position: center center;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
    }
    .right-arrow{
        background-image: url(../images/ic-arrow-downward.svg);
    }
}
.btn-oval-bg_orange{
    width: 160px;
    height: 50px;
    border-radius: 67px;
    color: #fff;
    background-color: #f58221;
    box-shadow: 0 10px 20px 0 rgba(255,131,36,0.3);
    font-family: 'Roboto';
    font-size: 1.125em;
    line-height: 2.11;
    font-weight: 500;
    text-align: center;
    border: 0;
    &:hover{
        color: #f58221;
        background: #fff;
    }
    &:focus, &:active{
        color: #fff;
        background-color: #f58221;
        border: 0;
        outline: 0;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1180px;
    }
}
@media (min-width: 1200px) and (max-width: 1899px) {
    .list-detail>.row {
        margin: 0 -10px;
    }
    .detail-youtube-item {
        .youtube-info{
            .icon {
                margin-right: 12px;
            }
            .data {
                padding-left: 16px;
            }
        }
    }
    .articles-two-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(odd){
            padding-left: 10px;
            padding-right: 30px
        }
        & >div:nth-of-type(even){
            padding-left: 30px;
            padding-right: 10px;
        }
    }
    .articles-three-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(3n+1){
            padding-left: 10px;
        }
        & >div:nth-of-type(3n+2){
            padding-left: 10px;
            padding-right: 10px;
        }
        & >div:nth-of-type(3n){
            padding-right: 10px;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 972px;
    }
    .title-heading:not(.title-heading_center):after {
        margin: 27px auto 0 auto;
    }
    .title-heading-left-line{
        left: 0;
    }
    .vertical-line{
        top: 50px;
        left: 12px;
    }
    .nav-oval {
        .owl-prev{
            margin-left: 35%;
        }
        .owl-next{
            margin-right: 35%;
        }
    }
    .vertical-logo{
        left: -10px;
    }
    .list-detail>.row {
        margin: 0 -10px;
    }
    .articles-two-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(odd){
            padding-left: 10px;
            padding-right: 30px
        }
        & >div:nth-of-type(even){
            padding-left: 30px;
            padding-right: 10px;
        }
        .news-wrapper .image {
            height: 260px;
            margin-bottom: 20px;
        }
    }
    .articles-three-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(3n+1){
            padding-left: 10px;
        }
        & >div:nth-of-type(3n+2){
            padding-left: 10px;
            padding-right: 10px;
        }
        & >div:nth-of-type(3n){
            padding-right: 10px;
        }
        .news-wrapper .image {
            height: 166px;
            margin-bottom: 20px;
        }
    }
    footer{
        padding-bottom: 15px;
        .footer-list{
            li.branches {
                margin: 0;
            }
            li.headquarter {
                margin: 0 90px 0 0;
            }
            & > li:nth-last-of-type(1){
                margin-top: 20px;
                p{
                    margin-bottom: 12px;
                }
            }
        }
    }
    .copyright{
        .pull-left{
            margin: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        font-size: 15px;
    }
    .container {
        width: 748px;
    }
    .title-heading:not(.title-heading_center):after {
        margin: 20px auto 0 auto;
    }
    .title-heading-left-line{
        left: 0;
    }
    .title-shadow{
        font-size: 4em;
    }
    .list-detail>.row {
        margin: 0 -5px 30px -5px;
    }
    .list-detail>.row>div {
        padding: 0 5px;
        margin-bottom: 20px;
    }
    .vertical-line{
        top: 50px;
        left: 12px;
    }
    .nav-oval {
        .owl-prev{
            margin-left: 35%;
        }
        .owl-next{
            margin-right: 35%;
        }
    }
    .vertical-logo{
        left: -20px;
    }
    .articles-two-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(odd){
            padding-left: 10px;
            padding-right: 30px
        }
        & >div:nth-of-type(even){
            padding-left: 30px;
            padding-right: 10px;
        }
        .news-wrapper {
            .image {
                height: 197px;
                margin-bottom: 20px;
            }
            .content {
                .title{
                    height: 55px;
                    margin-bottom: 10px;
                }
                height: 140px;
                margin-bottom: 20px;
            }
        }
    }
    .articles-three-col {
        margin-left: -10px;
        margin-right: -10px;
        & >div:nth-of-type(3n+1){
            padding-left: 10px;
        }
        & >div:nth-of-type(3n + 2){
            padding-right: 10px;
            padding-left: 10px;
        }
        & >div:nth-of-type(3n){
            padding-right: 10px;
        }
        .news-wrapper {
            .image {
                height: 124px;
                margin-bottom: 20px;
            }
            .content {
                .title{
                    height: 55px;
                    margin-bottom: 10px;
                }
                height: 160px;
                margin-bottom: 20px;
            }
        }
    }
    .news-wrapper .content {
        height: 180px;
        margin-bottom: 40px;
        .title{
            height: 85px;
            overflow: hidden;
        }
    }
    footer{
        padding: 0;
        .footer-list{
            li.logo {
                margin: 7px 20px 0 0;
            }
            li.branches {
                margin: 0;
            }
            li.headquarter {
                margin: 0 20px 0 0;
            }
            & > li:nth-last-of-type(1){
                margin-top: 10px;
                p{
                    margin-bottom: 5px;
                }
            }
        }
        .copyright {
            .pull-left{
                margin: 0 0 30px 0;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    body{
        font-size: 14px;
        padding-top: 60px;
    }
    p, p.info{
        max-width: 100%;
        margin-bottom: 22px;
    }
    .container{
        width: 300px;
        padding: 0 10px;
    }
    .row{
        margin: 0;
    }
    .title-heading{
        font-size: 1.5em;
    }
    .title-shadow{
        font-size: 3em;
    }
    .title-heading:not(.title-heading_center):after {
        margin: 8px auto 0 auto;
    }
    .title-heading_center:after{
        margin-top: 8px;
    }
    .title-heading-left-line{
        font-size: 1.8em;
        left: 0;
        &:before{
            width: 1em;
            margin-right: 0.2em;
        }
    }
    .list-detail {
        margin-top: 18px;
        & > .row{
            margin: 0 -10px;
            & > div{
                padding: 0 10px;
                margin-bottom: 20px;
            }
        }
        .detail-item{
            .image{
                height: 180px;
                width: 100%;
                padding: 0;
                img{
                    margin: 70px auto 0 auto;
                }
            }
            figcaption{
                padding: 0 0 0 10px;
            }
        }
    }
    .detail-youtube-item {
        .wrapper {
            padding: 20px 10px 0 10px;
        }
        .title {
            height: 32px;
            overflow-y: hidden;
            margin-top: 10px;
            margin-bottom: 0px;
        }
        .youtube-info {
            .icon {
                margin-right: 0px;
            }
            .data{
                padding-left: 0px;
                margin-top: 5px;
                border-left: 0;
                label {
                    width: 55px;
                }
            }
        }
    }
    .pagination-bar{
        margin-bottom: 20px;
        ul li a{
            padding: 0.2em 0.5em;
        }

    }
    .tp-popup{
        & > .container{
           padding: 20px;
        }
        .left-cover {
            float: none;
            width: 100%;
            margin: auto;
            .image{
                box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
            }
        }
        .right-content{
            float: none;
            margin: auto;
            margin-top: 10px;
            padding: 20px 0;
            text-align: center;
            overflow-y: initial;
            p,h4{
                text-align: left;
            }
        }
    }
    .partner-panel{
        width: 100%;
        li:nth-of-type(1) {
            width: 40%;
        }
        li:nth-last-of-type(1) {
            width: 60%;
        }
    }
    .article-content {
        padding: 0 10px;
        .images-two-col>.row{
            margin: 0;
        }
    }
    .articles-two-col {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 0;
        & >.news-wrapper{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }
        .news-wrapper {
            .image {
                height: 100%;
                margin-bottom: 10px;
            }
            .content {
                .title{
                    max-height: 78px;
                    margin-bottom: 10px;
                }
                height: 177px;
                margin-bottom: 10px;
            }
        }
    }
    .articles-three-col {
        margin-left: -10px;
        margin-right: -10px;
        & >.news-wrapper{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }
        .news-wrapper {
            .image {
                height: 100%;
                margin-bottom: 20px;
            }
            .content {
                .title{
                    max-height: 78px;
                    margin-bottom: 10px;
                }
                height: 177px;
                margin-bottom: 10px;
            }
        }
    }
    .close-popup{
        width: 26px;
        height: 26px;
        top: 5px;
        right: 5px;
    }
    #logo-footer {
        width: 60px;
        display: inline-block;
        height: auto;
        margin-bottom: 20px;
    }
    .search-field-home-group{
        margin-top: 60px;
        padding-top: 10px;
        height: 80px;
        .input-group{
            padding: 0;
             input{
                font-size: 1em;
            }
        }
    }
    #home-enter-search-btn{
        background-size: 20px 20px;
        &.active{
            background-size: 20px 20px;
        }
    }
    footer{
        padding: 0 0 20px 0;
        .footer-list{
            padding: 30px 0 25px 0;
            text-align: center;
            margin-bottom: 20px;
            li.logo{
                margin: auto;
                float: none;
            }
            li.headquarter, li.branches {
                display: none;
            }
            & > li:nth-last-of-type(1){
                position: static;
                float: none;
                p{
                    display: none;
                }
            }
        }
        .copyright{
            .pull-left{
                margin-bottom: 0;
            }
            .pull-right{
                display: none;
            }
        }
    }
}

///////////INCLUDE///////////////
/* component */
@import "../lib/components/tp_dropdown/tp-select.scss";
/* page styles */
@import "../css/font.scss";
@import "../css/home.scss";
@import "../css/news.scss";
@import "../css/news_detail.scss";
@import "../css/baogia.scss";
@import "../css/customer.scss";
@import "../css/dieukhoan.scss";
@import "../css/about.scss";
@import "../css/contact.scss";
@import "../css/partner.scss";
@import "../css/search.scss";
@import "../css/dichvu.scss";