.no-result{
	text-align: center;
	.image{
		display: inline-block;
		width: 120px;
		height: 120px;
		margin-bottom: 45px;
	}
	.keyword{
		color: #f58221;
	}
	h4{
		margin-bottom: 4px;
	}
	p{
		color: #888888;
	}
}
.search-result{
	.view-action-bar{
		margin-top: -33px;
		h4{
			color: #1c1f4b;
		}
	}
}