@font-face {
    font-family: 'DINRoundOT';
    src: url('../fonts/DINRoundOT.eot');
    src: url('../fonts/DINRoundOT.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINRoundOT.woff') format('woff'),
         url('../fonts/DINRoundOT.woff2') format('woff2'),
         url('../fonts/DINRoundOT.ttf') format('truetype'),
         url('../fonts/DINRoundOT.svg#DINRoundOT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundOT-Bold';
    src: url('../fonts/DINRoundOT-Bold.eot');
    src: url('../fonts/DINRoundOT-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINRoundOT-Bold.woff') format('woff'),
         url('../fonts/DINRoundOT-Bold.woff2') format('woff2'),
         url('../fonts/DINRoundOT-Bold.ttf') format('truetype'),
         url('../fonts/DINRoundOT-Bold.svg#DINRoundOT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}