@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,vietnamese);
@font-face {
	font-family: 'UTMSharnay';
	src: url('../fonts/UTMSharnay.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/UTMSharnay.woff') format('woff'), 
	url('../fonts/UTMSharnay.ttf')  format('truetype'), 
	url('../fonts/UTMSharnay.svg#UTMSharnay') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'UTMHelve';
  src: url('../fonts/UTMHelve.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/UTMHelve.woff') format('woff'), 
  url('../fonts/UTMHelve.ttf')  format('truetype'), 
  url('../fonts/UTMHelve.svg#UTMHelve') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTMHelve';
  src: url('../fonts/UTMHelveBold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/UTMHelveBold.woff') format('woff'), 
  url('../fonts/UTMHelveBold.ttf')  format('truetype'), 
  url('../fonts/UTMHelveBold.svg#UTMHelveBold') format('svg');
  font-weight: bold;
  font-style: normal;
}