body{
	background-color: #f7f7f7;
}
footer{
	text-align: center;
	  font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  color: #d8d8d8;
	  margin-bottom: 100px;
}
.Hnam11-p{
	padding-top: 80px;
	#header{
	    height: 80px;
	    line-height: 80px;
	    background: #fff;
	    position: fixed;
	    width: 100%;
	    z-index: 998;
	    top: 0;
		#logo{
			width: 131px;
			height: 24px;
		}
		ul.r-nav{
			list-style: none;
			display: inline-block;
			float: right;
			li{
			  display: inline-block;
			  height: 16px;
			  font-family: 'Roboto';
			  font-size: 14px;
			  font-weight: 500;
			  font-style: normal;
			  line-height: 1.14;
			  color: #4a4a4a;
			  &:after{
			  	content: '';
			  	display: block;
			  	width: 19px;
			  	height: 19px;
			  	background: url('../images/11years/flash_line.svg') 0 0 no-repeat;
			  	background-size: 100% 100%;
			  	float: right;
    			margin: -2px 9px 0 12px;
			  }
			  &:nth-last-of-type(1){
			  	&:after{
			  		display: none;
			  	}
			  }
			}	
		}
	}
	#banner{
		background: url('../images/11years/banner.png') center center no-repeat;
		background-size: cover;
		height: 717px;
		position: relative;
		.container{
			height: 100%;
		}
		.left-image{
			float: left;
		    margin-top: 150px;
		    margin-right: 76px;
		    width: 300px;
		    height: 475px;
		}
		.right-info{
			float: right;
			position: relative;
			margin-top: 160px;
			width: calc(100% - 376px);
			.icon{
				width: 154px;
			    height: 253px;
			    position: absolute;
			    right: 0;
			    top: 0;
			}
			h2{
				  font-family: 'UTMHelve';
				  font-size: 48px;
				  font-weight: bold;
				  font-style: normal;
				  line-height: 1.96;
				  color: #f8e71c;
				  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
				  span:nth-last-of-type(1):before{
				  		content:'';
				  		display: inline-block;
				  		vertical-align: middle;	
				  		width: 8px;
				  		height: 8px;
				  		border-radius: 50%;
				  		background: #fff;
				  		margin: 0 10px;
				  	}
			}
			h1{
			    font-family: 'UTMHelve';
			    font-size: 110px;
			    font-weight: bold;
			    display: inline-block;
			    position: relative;
			    max-width: 660px;
			    font-style: normal;
			    line-height: 1;
			    padding-bottom: 1px;
			    color: #ffffff;
				  &:after{
				    content: '';
				    position: absolute;
				    display: block;
				    right: 10px;
				    bottom: -15px;
				    width: 146px;
				    height: 104px;
				    background: url(../images/11years/red_braces.png) 0 0 no-repeat;
				    background-size: 100% 100%;
				  }
			}
			h3{
				    font-family: 'Roboto';
				    font-size: 36px;
				    font-weight: bold;
				    font-style: normal;
				    line-height: normal;
				    color: #ffffff;
				    margin-top: 20px;
				  &:before{
				  	    content: '';
					    display: inline-block;
					    vertical-align: baseline;
					    width: 630px;
					    height: 8px;
					    background: #fff;
					    margin-right: 25px;
				  }
			}
			p{
				  height: 28px;
				  font-family: 'Roboto';
				  font-size: 24px;
				  font-weight: bold;
				  font-style: normal;
				  color: #f8e71c;
				  margin-top: 20px;
			}
		}
		.scroll{
		    display: block;
		    width: 70px;
		    height: 70px;
		    border-radius: 50%;
		    background-color: #ffffff;
		    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
		    position: absolute;
		    bottom: -35px;
		    left: 50%;
		    margin-left: -35px;
		    line-height: 70px;
		    text-align: center;
		    img{
		    	width: 24px;
		    	height: 34px;
		    }
		}
	}
}
ul.sponsors{
	list-style: none;
    padding-top: 100px;
    ul{
    	list-style: none;
    }
	.title{
		font-family: 'Roboto';
	    font-size: 14px;
	    font-weight: 500;
	    font-style: normal;
	    text-align: center;
	    color: #f5a623;
	    padding-bottom: 20px;
	    margin-bottom: 32px;
	    border-bottom: 4px solid #f6a623;
	}
	& > li{
		margin-right: 114px;
		padding: 0;
	}
	li.gold{
		width: 160px;
	}
	li.silver{
		width: 506px;
		.title{
			color: #5fb74c;
			border-bottom: 4px solid #5fb74c;
		}
		ul{
			li{
				display: inline-block;
				vertical-align: middle;
				padding:0;
				margin-right: 50px;
			}
			li:nth-last-of-type(1){
				margin-right: 0;
			}
			li.thaotay img{
				width: 55px;
  				height: 40px;
			}
			li.energizer img{
				width: 110px;
				height: 28px;
			}
			li.techcity img{
				width: 118px;
  				height: 32px;
			}
			li.pk img{
				width: 57px;
  				height: 38px;
			}
		}
	}
	li.copper{
		width: 285px;
		margin-right: 0;
		.title{
			color: #ca601b;
			border-bottom: 4px solid #ca601b;
		}
		ul{
			li{
				display: inline-block;
				vertical-align: middle;
				padding:0;
				margin-right: 40px;
			}
			li:nth-last-of-type(1){
				margin-right: 0;
			}
			li.f2 img{
				width: 36px;
  				height: 36px;
			}
			li.pisen img{
				width: 111px;
  				height: 30px
			}
			li.sg img{
				width: 46px;
  				height: 46px;
			}
		}
	}
}
section.item-awards{
	padding-top: 100px;
	margin-left: -14px;
	margin-right: -14px;
	.title{
		height: 80px;
  		background-color: #ffffff;
		font-family: 'Roboto';
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		line-height: 3.25;
		text-align: center;
		color: #4a4a4a;
	}
	.item-wrapper{
		border-radius: 2px;
  		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  		.detail{
			height: 640px;
			text-align: center;
			padding: 27px;
			h2{
				  font-family: 'Roboto';
				  font-size: 36px;
				  font-weight: bold;
				  font-style: normal;
				  line-height: 1.33;
				  color: #ffffff;
			}
			a.btn{
				display: block;
			    margin: 20px auto;
			    width: 180px;
			    height: 42px;
			    font-size: 16px;
			    font-weight: bold;
			    font-style: normal;
			    line-height: 1.875;
			    text-transform: uppercase;
			    border-radius: 61px;
			    color: #f75115;
			    background-color: #ffffff;
			    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
			    transition: background 0.3s ease;
				  &:hover{
				  	color: #d0021b;
				  	background-color: #f8e81c;
				  }
			}
			a:not(.btn){
				font-size: 16px;
			    font-weight: normal;
			    font-style: normal;
			    color: #ffffff;
			    text-decoration: underline;
			}
		}
	}
	.left {
		.title{
			border-top: 2px solid #5fb549;
		}
		.detail{
			background: url('../images/11years/mask_green.png') 0 0 no-repeat;
			background-size: cover;
		}
	}
	.right{
		.title{
			border-top: 2px solid #d0011b;
		}
		.detail{
			background: url('../images/11years/mask_red.png') 0 0 no-repeat;
			background-size: cover;
		}
	}
}
section.online-buy{
	background: white;
	 .wrapper{
	 	 margin-top: 40px;
		 padding: 60px 40px;
		 height: 400px;
		 background: url('../images/11years/bg_orange_circle.png') 0 bottom no-repeat;
		 background-size: 60.5% 50%;
		 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	 }
	 .info{
	 	font-family: 'Roboto';
	 	width: 700px;
	 	float: left;
	 	h3{
			  font-size: 24px;
			  font-weight: bold;
			  font-style: normal;
			  color: #000000;
			  b{
			  	color: #50aa39;
			  }
	 	}
	 	h2{
			  font-size: 36px;
			  font-weight: 300;
			  font-style: normal;
			  color: #f75115;
			  margin: 16px 0;
	 	}
	 	p{
			  font-size: 16px;
			  font-weight: normal;
			  font-style: normal;
			  line-height: 1.5;
			  color: #4a4a4a;
	 	}
	 }
	 .right-image{
	 	width: calc(100% - 700px);
	    float: right;
	    position: relative;
	    bottom: 15px;
	    right: -20px;
	 	.icon{
	 		position: absolute;
		    width: 188px;
		    height: 130px;
		    top: -10px;
		    left: -90px;
	 	}
	 }
	.bottom-image{
		display: none;
		img{
			height: 100%;
			width: auto;
		}
	}
}
section.promotion{
	margin-top: 56px;
	background:transparent;
	.section{
		  font-family: 'Roboto';
		  font-size: 24px;
		  font-weight: 500;
		  font-style: normal;
		  color: #4a4a4a;
		  margin-bottom: 20px;
	}
	.product-list{
		margin-left: -10px;
		margin-right: -10px;
		&>div{
			padding: 0 10px;
		}
	}
	.wrapper{
		height: 378px;
		overflow-y: hidden;
		margin-bottom: 2px;
	}
	.item{
		  height: 330px;
		  padding: 30px 15px 15px 15px;
		  border-radius: 2px;
		  background-color: #ffffff;
		  border: solid 1px #e6e6e6;
		  transition: height 0.3s ease;
		  -webkit-transition: height 0.3s ease;
		  &:hover{
		  	height: 360px;
		  	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		  	.buy{
		  		visibility: visible;
		  		opacity: 1;
		  	}
		  }
		  .image{
		  	text-align: center;
		  	margin-bottom: 30px;
		  }
		  .name{			  
		  	font-weight: 500;
			font-style: normal;
			 color: #4a4a4a;
		  }
		  .price{
		  	font-weight: 500;
			font-style: normal;
		  	color: #f75115;
		  }
		  .buy{
		  	visibility: hidden;
  			opacity: 0;
		  	margin-top: 15px;
		  	transition: all 0.35s ease;
		  	-webkit-transition: all 0.35s ease;
		  	a {
		  		display: inline-block;
		  		border-radius: 2px;
		  		  font-size: 14px;
				  font-weight: 500;
				  text-align: center;
				  color: #ffffff;
		  	}
		  	.muangay{
  				background-color: #f75115
		  	}
		  	.tragop{
		  		background-color: #000000;
		  	}
		  }
	}
}
#comment{
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 60px;
	.banner{
	    height: 100px;
	    font-size: 48px;
	    font-weight: bold;
	    font-style: normal;
	    text-align: center;
	    line-height: normal;
	    color: #ffffff;
	    line-height: 100px;
	    background: url(../images/11years/bg_green_circle.png) center center no-repeat;
	    background-size: cover;
	}
	#fb-comment-hnam{
		padding: 0 100px;
	}
	.steps{
		padding: 50px 100px;
		.step{
			margin-bottom: 40px;
			h3{
				  font-size: 16px;
				  font-weight: bold;
				  font-style: normal;
				  text-transform: uppercase;
				  color: #f75115;
				  margin-bottom: 16px;
			}
			p{
				  font-size: 16px;
				  font-weight: normal;
				  font-style: normal;
				  line-height: 1.5;
				  color: #4a4a4a;
				 a{
				 	 color: #f23913;
				 }
			}
			.share{
				height: 83px;
				ul{
				    list-style: none;
				    width: 380px;
				    height: 83px;
				    border-radius: 2px;
				    padding: 0 30px;
				    border: dotted 1px #f75115;
				    display: table;
					li{
						display: table-cell;
					    vertical-align: middle;
					    width: 140px;
					}
					h3{
						text-transform: none;
						margin-bottom: 0;
					}
					li.facebook{
						padding-left: 40px;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.Hnam11-p{
		#banner{
			height: 560px;
			.left-image{
				margin-top: 50px;
			}
			.right-info{
				margin-top: 96px;
				h2{
					font-size: 34px;
				}
				h1{
					font-size: 72px;
				}
				h3{
					&:before{
						width: 390px;
					}
				}
				.icon{
					top: -70px;
				}
			}
		}
	}
	#comment{
		.steps {
		    padding: 50px;
		}
		#fb-comment-hnam{
			padding: 0 50px;
		}
	}
	ul.sponsors{
		 li.gold {
		    margin-right: 50px;
		}
		li.silver {
		    width: 440px;
		    margin-right: 50px;
		    ul li {
			    margin-right: 28px;
			}
		}
		li.copper{
			width: 230px;
			ul li {
			    margin-right: 12px;
			}
		}
	}
	section.online-buy{
		 .right-image{
		 	.image{
		 		margin-top: 120px;
		 	}
		 }
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .Hnam11-p {
    	#header {
    		ul.r-nav{
    			li {
				    font-size: 11px;
				    &:after{
				    	margin: -2px 2px 0 2px;
				    }
				}
    		}
    	}
    	#banner{
			height: 530px;
			.left-image{
				margin-top: 40px;
    			margin-right: 20px;

			}
			.right-info{
				margin-top: 96px;
    			width: calc(100% - 330px);
				h2{
					    font-size: 30px;
				}
				h1{
					font-size: 60px;
					&:after{
					    right: 32px;
					    bottom: -15px;
					    width: 110px;
					    height: 68px;
					}
				}
				h3{
					&:before{
						    width: 90px;
					}
				}
				.icon{
					top: -77px;
    				width: 80px;
				}
			}
		}
    }
    ul.sponsors{
		 li.gold {
		    margin-right: 30px;
    		width: 100px;
		}
		li.silver {
		    width: 348px;
		    margin-right: 30px;
		    ul li {
			    margin-right: -2px;
			}
		}
		li.copper{
			width: 230px;
			ul li {
			    margin-right: 12px;
			}
		}
	}
	section.item-awards {
		.item-wrapper {
			.detail {
				height: 400px;
				h2{
					font-size: 30px;
				}
			}
		}
	}
	section.online-buy {
		.wrapper{
			padding: 24px 16px;
			background: none;
			height: 520px;
			position: relative;
			overflow: hidden;
		}
		.info{
			width: 100%;
		    float: none;
		    margin-bottom: 20px;
			h3{
				font-size: 16px;
    			line-height: 1.2;
				span{
					display: block;
				}
				span:nth-of-type(2){
					display: none;
				}
			}
			h2{
				font-size: 26px;
    			margin: 10px 0;
			}
			p{
				font-size: 14px;
			}
		}
		.right-image{
			width: 100%;
		    float: none;
		    position: static;
		    .icon{
		    	width: 123px;
			    height: 85px;
			    right: 0;
			    top: 10px;
			    left: auto;
		    }
		    .image{
		    	max-width: 400px;
    			margin: auto;
		    }
		}
		.bottom-image{
		    display: block;
		    position: absolute;
		    z-index: 1;
		    bottom: 0;
		    left: 0;
		    height: 152px;
		}
	}
	#comment {
		#fb-comment-hnam{
			padding: 0 30px;
		}
		.steps {
		    padding: 30px;
		    .step .share ul{
		    	width: 100%;
		    	padding: 0 10px;
		    }
		}
	}
}

@media only screen and (max-width: 767px){
	.Hnam11-p{
		padding-top: 60px;
		.container{
			padding: 0 5px;
		}
		#header{
			height: 60px;
		    line-height: 60px;
		    text-align: center;
		    ul.r-nav {
			    display: none;
			}
		}
		#banner{
			height: 254px;
			.left-image{
			    width: 86px;
			    height: 137px;
			    float: right;
			    margin-top: 20px;
			    margin-right: 0;
			}
			.right-info{
				margin-top: 80px;
				width: calc(100% - 86px);
				h2{
					font-size: 16px;
				}
				h1{
					font-size: 40px;
    				max-width: 247px;
    				&:after{
    					width: 55px;
					    height: 39px;
					    bottom: -6px;
					    right: -5px;
    				}
				}
				h3{
					font-size: 16px;
				    text-align: right;
				    margin-top: -30px;
				    margin-right: -74px;
					&:before{
						display: none;
					}
				}
				p{
					font-size: 14px;
				    text-align: center;
				    margin-right: -86px;
				}
				.icon{
					display: none;
				}
			}
			.scroll{
				display: none;
			}
		}
	}
	ul.sponsors{
		padding-top: 40px;
		& > li{
			width: 100% !important;
			margin-bottom: 45px;
			span{
				position: absolute;
			    height: 22px;
			    left: 50%;
			    margin-left: -40px;
			    background: #f7f7f7;
			}
		}
		.title{
			border-bottom: 0 !important;
	    	padding: 0;
	    	margin-bottom: 24px;
	    	&:before{
	    		content: '';
			    display: inline-block;
			    vertical-align: middle;
			    width: 100%;
			    height: 2px;
	    	}
		}
		li.gold{
			text-align: center;
			.title{
				&:before{
					background: #f6a623;
				}
			}
			img{
				width: 160px;
  				height: 26px;
			}
			span{
				width: 80px;
			}
		}
		li.silver{
			.title{
				&:before{
					background: #5fb74c;
				}
			}
		    span{
				width: 70px;
			}
			ul {
				li{
					width: 50%;
				    margin-right: 0;
				    margin-bottom: 24px;
				    text-align: center;
				}
				li:nth-of-type(2n){
					margin-left: -4px;
				}
			}
		}
		li.copper{
			.title{
				&:before{
					background: #ca601b;
				}
			}
		    span{
				width: 78px;
			}
			ul{
				padding: 0 12px;
				li.f2{
					margin-right: 45px;
				}
				li.linsen{
					margin-right: 36px;
				}
			}
		}
	}
	section.item-awards{
		padding-top: 15px;
		.title{
		    font-size: 16px;
		    height: 46px;
		    line-height: 2.75;
		}
		.item-wrapper{
			margin-bottom: 40px;
			.detail {
				position: relative;
				height: 367px;
				h2{
					font-size: 24px;
				}
				a.btn{
					position: absolute;
				    left: 50%;
				    transform: translateX(-50%);
				    bottom: 24px;
				    margin: auto;
				}
			}
		}
	}
	section.online-buy {
		.wrapper{
			margin-top: 0;
		    padding: 24px 16px;
		    background: none;
		    height: 654px;
		    position: relative;
		    overflow: hidden;
		}
		.info{
			width: 100%;
		    float: none;
		    margin-bottom: 20px;
			h3{
				font-size: 16px;
    			line-height: 1.2;
				span{
					display: block;
				}
				span:nth-of-type(2){
					display: none;
				}
			}
			h2{
				font-size: 26px;
    			margin: 10px 0;
			}
			p{
				font-size: 14px;
			}
		}
		.right-image{
			width: 100%;
		    float: none;
		    position: static;
		    .icon{
		    	width: 123px;
			    height: 85px;
			    right: 0;
			    top: 10px;
			    left: auto;
		    }
		}
		.bottom-image{
		    display: block;
		    position: absolute;
		    z-index: 1;
		    bottom: 0;
		    left: 0;
		    height: 152px;
		}
	}
	section.promotion{
		margin-top: 40px;
		.product-list{
			margin-left: -6px;
			margin-right: -6px;
			& > div{
				padding: 0 6px;
			}
		}
		.wrapper{
			height: 280px;
		}
		.item{
			height: 252px;
    		padding: 15px 10px;
    		&:hover{
    			height: 252px;
    		}
    		.image{
    			margin-bottom: 15px;
    			padding: 0 25px;
    		}
    		.name, .price{
    			font-size: 14px;
    		}
    		.buy{
    			display: none;
    		}
		}
		.section{
			font-size: 16px;
   			text-align: center;
		}
	}
	#comment{
		display: none;
	}
	footer{
		margin-bottom: 50px;
		.container{
			border-top: 6px solid #d8d8d8;
    		p{
    			width: 201px;
			    display: inline-block;
			    margin: auto;
			    font-size: 14px;
			    padding-top: 15px;
    		}
		}
	}
}