.company-p {
    #main {
        padding-top: 180px;
    }
}

.company-p section#mission-statement {
    .head-info {
        text-align: center;
        .title {
            font-family: 'SFUIDisplay';
            font-size: 60px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: center;
            color: #454545;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        .intro {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 0.4px;
            text-align: center;
            max-width: 900px;
            color: #454545;
            margin: auto;
            b {
                color: #b8d432;
            }
        }
        img {
            margin-top: 30px;
        }
    }
    .our-team {
        padding-top: 45px;
        border-top: 1px solid rgba(221, 243, 111, 0.5);
        .title {
            font-family: 'SFUIDisplay';
            font-size: 40px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #454545;
        }
        .intro {
            width: 607px;
            margin: auto;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: center;
            color: #454545;
            margin-bottom: 90px;
        }

        .team-block {
            min-height: 490px;
            background-color: #fafdec;
            padding: 33px;
            position: relative;
            .avatar {
                margin-bottom: 25px;
                img {
                    margin-top: -70px;
                }
            }
        }
        .team-block-name {
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #454545;
            margin-bottom: 6px;
            .social-link {
                margin-left: 14px;
                img {
                    vertical-align: top;
                }
            }
        }
        .team-block-title {
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #454545;
            margin-bottom: 30px;
        }
        .team-block-background {
            border-top: 1px solid #ddf36f;
            padding-top: 20px;
            h5, p {
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: #454545;
            }
            p {
                margin-bottom: 15px;
            }
        }
        .team-block-footer {
            border-top: 1px solid #ddf36f;
            padding-top: 12px;
            a {
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                color: #b8d432;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.company-p .lets-connect{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: 0.5px;
    text-align: center;
    color: #35612e;
    border-bottom: 5px solid #fafdec;
}

.company-p section#business-advisor {
    .head-info {
        padding-top: 40px;
        .title {
            font-family: 'SFUIDisplay';
            font-size: 40px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #454545;
        }
    }
}

.list-advisors {
    margin-top: 90px;
    .article {
        border: 5px solid #f9fceb;
        padding: 10px 30px;
        margin-bottom: 90px;
        height: 286px;
        & > img {
            margin-top: -50px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #454545;
            margin-bottom: 6px;
        }
        p{
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            color: #454545;
        }
    }
}