.pricing-p {
    #main {
        padding-top: 290px;
    }
}

.pricing-p section#pricing {
    background-color: #fafdec;
    .inner {
        position: relative;
        padding-top: 310px;
        padding-bottom: 90px;
    }
    .pricing-box {
        border: 1px solid #ddf36f;
        border-bottom: 10px solid #ddf36f;
        background-color: #ffffff;
        position: absolute;
        top: -68px;
        width: 100%;
        padding-top: 38px;
        .pricing-info {
            padding: 0 100px;
            text-align: center;
            .title {
                font-family: 'SFUIDisplay';
                font-size: 60px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #454545;
                position: absolute;
                z-index: 1;
                top: -50px;
                left: 0;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                span {
                    padding: 10 60px;
                    background: white;
                }
            }
            p {
                padding-bottom: 10px;
                margin-bottom: 48px;
                border-bottom: 1px solid #ddf36f;            
            }
            h3 {
                font-family: 'SFUIDisplay';
                font-size: 30px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: center;
                color: #454545;
                b {
                    font-size: 35px;
                    font-weight: 900;
                    color: #b8d432;
                }
            }
            h4 {
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.6px;
                text-align: center;
                color: #454545;
                b {
                    color: #b8d432;
                }
            }
        }

        .promotion {
            height: 80px;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            .promotion-type {
                flex: 1;
                border: 1px solid #ddf36f;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .price {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: 0.6px;
                    text-align: center;
                    color: #b8d432;
                }
                .fee {
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.43;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #454545;
                }
            }
            .promotion-type:nth-of-type(2) {
                flex: 2;
            }
        }
    }

    .analyse {
        .chart {
            position: relative;
            img {
                margin-bottom: 16px;
            }
            .uplift-invest-label,
            .typical-invest-label {
                width: 119px;
                height: 15px;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #35612e;
            }
            .uplift-invest-label {
                margin-left: 22px;
                margin-right: 90px;
            }
            .typical-invest-label {
                color: #454545;
            }
            .uplift-invest-fee, 
            .typical-invest-fee {
                width: 72px;
                height: 38px;
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.6px;
                color: #35612e;
                .number {
                    font-size: 18px;
                }
            }
            .uplift-invest-fee {
                position: absolute;
                top: 40px;
                left: 90px;
            }
            .typical-invest-fee {
                color: #454545;
                position: absolute;
                right: 145px;
                top: 0px;
            }
        }
    }
    .paging-background {
        height: 28px;
        background: url('./images/bg_cross-lightgreen.png') 0 0 repeat;
        margin-top: 20px;
    }
}

.list-invest-types {
    margin-top: 37px;
    .item {
        img {
            vertical-align: baseline;
            margin-right: 12px;
        }
        h3 {
            height: 38px;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.6px;
            color: #454545;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: flex;
            align-items: flex-end;
        }
        p {
            height: 86px;
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.4px;
            color: #454545;
            margin-bottom: 12px;
        }

        a {
            min-width: 200px;
        }
    }
}

.pricing-p section#question-ask {
    .question-list {
        .question {
            padding: 14px 0;
            border: 0;
            border-top: 1px solid #ddf36f;
            background: #fff;
            .card-header {
                background: #fff;
                padding: 0;
                h5 button {
                    font-size: 13px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.38;
                    letter-spacing: 0.5px;
                    color: #454545;
                    background: #fff;
                    text-align: left;
                    padding: 0;
                }
            }
        }
    }
}