.default-p #main{
    padding-top: 150px;
}

.wpcf7 input[type=submit] {
    width: 159px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 0 4px 9px 0 rgba(26, 47, 59, 0.11);
    background-color: #b8d432;	
}