#top-nav {
    position: fixed;
    z-index: 500;
    left: 0;
    width: 100%;
    height: 90px;
    background: 0;
    padding: 40px 40px 0 40px;
    background: 0 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    .logo-color {
        display: none;
    }
    &.smart{
        background: #fff;
        color: #000;
        height: 70px;
        padding: 16px 40px;
        .logo {
            display: none;
        }
        .logo-color {
            display: initial;
        }
        .menu-home, .right-menu {
            .nav-link{
                color: #454545;
            }
        }
    }
}

#uplift-video{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.menu-home {
    .nav-link
    {
        padding: 17px;
        font-family: 'HelveticaNeue';
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            color: #b8d432;
        }
    }
    .sub-menu{
        font-family: 'HelveticaNeue';
        position: absolute;
        width: 741px;
        height: 223px;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 27px 42px 23px 33px;
        .title{
            font-size: 11px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: 0.5px;
            text-align: left;
            color: #454545;
            text-transform: uppercase;
            margin: 0 0 18px 0;
        }
        ul {
            list-style: none;
            padding: 0;
            .nav-link{
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.73;
                letter-spacing: 0.5px;
                color: #b8d432;
                padding: 0;
                text-align: left;
                &:hover {
                    color: #35612e;
                }
            }
        }
        .left-side {
            padding: 22px 38px 0 15px;
            border-right: 1px solid #ddf36f;
            p{
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.3px;
                color: #454545;
                margin: 0 0 15px 0;
            }
            a{
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.18;
                letter-spacing: 0.5px;
                color: #b8d432;
            }
        }
        .right-side{
            padding: 22px 0 0 37px;
        }
    }
    .dropdown:hover{
        &:after,
        &:before {
            border-top: 10px solid white;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            bottom: -5px;
            content: '';
            left: 50%;
            -webkit-transform: rotate(180deg);
            transform: rotateX(180deg);
            z-index: 1000;
        }
        &:before {
            border-right: 10px solid transparent;
            border-top: 10px solid;
            border-left: 10px solid transparent;
            border-top-color: #B1B1B1;
            bottom: -4px;
        }
        & > .dropdown-menu, &:before, &:after {
            animation-name: slidenavAnimation;
            animation-duration: 0.3s;
          
            -webkit-animation-name: slidenavAnimation;
            -webkit-animation-duration:.3s;
          
            -moz-animation-name: slidenavAnimation;
            -moz-animation-duration:.3s;
          }
        .sub-menu {
            display: block;
        }
    }
}
@keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.right-menu {
    .nav-link{
        font-family: 'HelveticaNeue';
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        padding: 17px 9px;
    }
    #start-invest {
        margin-left: 10px;
    }
}

section#banner-video{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    & > .container{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .head-info{
        &:after {
            background: #b8d432;
            position: absolute;
            width: 100%;
            height: 10px;
            content: '';
            display: block;
            bottom: 0;
            left: auto;
        }
        h1.title {
            max-width: 750px;
            font-family: 'SFUIDisplay';
            font-size: 60px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.1;
            letter-spacing: normal;
            color: #ffffff;
            margin: 0;
        }
        p.intro {
            max-width: 750px;
            font-family: 'SFUIDisplay';
            font-size: 24px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #ffffff;
            margin: 0 0 8px 0;
        }
        a.btn {
            padding: 15p 32px;
        }
    }
}

section#about {
    position: relative;
    min-height: 662px;
    padding: 141px 0;
    background: url(./images/green-decorator.png) top right no-repeat;
    background-size: contain;
    &::after{
        display: block;
        content: '';
        padding-bottom: 18%;
    }
    .head-info{
        position: relative;
        width: 610px;
        height: 165px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -33px;
            width: 174px;
            height: 8px;
            background-color: #b8d432;
        }
        h2.title {
            font-family: 'SFUIDisplay';
            font-size: 48px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            text-transform: uppercase;
            line-height: 1.2;
            letter-spacing: 0.5px;
            color: #454545;
        }
        p.intro{
            position: absolute;
            left: 200px;
            top: 118px;
            width: 560px;
            height: 80px;
            font-family: 'SFUIDisplay';
            font-size: 22px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.4px;
            color: #454545;
            b{
                font-weight: 900;
                color: #b8d432;
            }
        }
    }
}

section#embrace-your-power{
    min-height: 655px;
    position: relative;
    background: url('./images/bg_mountain.jpg') center center no-repeat;
    background-size: cover;
    padding: 40px 0;
    .sidebar{
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, 0,0);
        top: -200px;
        padding: 45px 55px 40px 55px;
        width: 598px;
        height: 355px;
        box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.21);
        background-color: #b8d432;
        img {
            margin: 0 0 15px 0;
        }
        h3 {
            font-family: 'SFUIDisplay';
            font-size: 22px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            text-transform: uppercase;
            line-height: 1.27;
            letter-spacing: 0.5px;
            color: #ffffff;
            margin: 0 0 15px 0;
        }
        p{
            font-family: HelveticaNeue;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: 0.3px;
            color: #ffffff;
        }
    }
    .head-info{
        margin-top: 200px;
        margin-bottom: 50px;
        h4.title {
            font-family: 'SFUIDisplay';
            font-size: 30px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        p.intro{
            font-family: 'HelveticaNeue';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.55;
            text-align: center;
            color: #ffffff;
        }
    }    

    .how-it-works{
        & > h3.headline-line-through {
            span {
                &:before, &:after{
                    width: 388px;
                }
            }
            margin-bottom: 50px;
        }
        .item {
            text-align: center;
            margin-bottom: 20px;
            .icon {
                margin-bottom: 20px;
                height: 70px;
            }
            p{
                height: 19px;
                font-family: 'HelveticaNeue';
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: 0.4px;
                padding: 0 35px;
                text-align: center;
                color: #ffffff;
            }
        }
        .nav-bottom {
            margin-top: 40px;
            text-align: center;
            a {
                font-family: 'HelveticaNeue';
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.18;
                letter-spacing: 0.5px;
                color: #b8d432;
            }
        }
    }
}

section#portfolios{
    .uplift-container {
        .wrapper {
            padding: 55px 0 0 0;
            border-top: 10px solid #ecf8b0;
        }
    }
    h2.title {
        font-family: 'SFUIDisplay';
        font-size: 40px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #454545;
    }
    p.intro {
        font-family: 'HelveticaNeue';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #454545;
    }
    .list-models{
        margin-top: 48px;
        .item {
            .card {
                border: 0;
                .icon {
                    height: 80px;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 10px;
                }
                .card-body{
                    padding: 0;
                    .card-title {
                        font-family: 'SFUIDisplay';
                        font-size: 20px;
                        font-weight: 900;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: normal;
                        text-transform: uppercase;
                        color: #3f342a;
                        margin-bottom: 0.58rem;
                    }
                    .card-text {
                        font-family: 'HelveticaNeue';
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.43;
                        letter-spacing: 0.4px;
                        color: #454545;
                        margin-bottom: 1.25rem;
                    }
                    .card-heading{
                        font-family: 'HelveticaNeue';
                        font-size: 14px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: 0.4px;
                        color: #454545;
                        margin-bottom: 0.4rem;
                    }
                }
                .card-label{
                    margin-top: 5px;
                    height: 45px;
                    background: url('./images/bg_cross-lightgreen.png') 0 0 repeat;
                }
            }
        }
        .item:nth-of-type(5n+2){
            .card {
                .card-title {
                    color: #2c1716;
                }
                .card-label {
                    background: url('./images/bg_cross-lightgrey.png') 0 0 repeat;
                }
            }
        }
        .item:nth-of-type(5n+3){
            .card {
                .card-title {
                    color: #19213d;
                }
                .card-label {
                    background: url('./images/bg_cross-blue.png') 0 0 repeat;
                }
            }
        }
        .item:nth-of-type(5n+4){
            .card {
                .card-title {
                    color: #001e49;
                }
                .card-label {
                    background: url('./images/bg_cross-lightblue.png') 0 0 repeat;
                }
            }
        }
        .item:nth-of-type(5n+5){
            .card {
                .card-title {
                    color: #35612e;
                }
                .card-label {
                    background: url('./images/bg_cross-darkgreen.png') 0 0 repeat;
                }
            }
        }
        .item:nth-of-type(5n+6){
            padding-top: 30px;
        }
        .sidebar.card{
            padding: 15px 32px 25px 30px;
            border-radius: 0;
            background-color: #b8d432;
            .card-body {
                .card-title, .card-text, .card-footer {
                    color: #fff;
                }
            }
            .card-footer{
                background: no-repeat;
                padding: 10px 0 0 0;
                a{
                    font-size: 11px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.18;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }
        }
    }
}

section#become-investor{
    padding: 30px;
    background: url('./images/bg_cross-lightgreen.png') 0 0 repeat;
    .head-info {
        height: 226px;
        box-shadow: 0 8px 10px 0 rgba(25, 33, 61, 0.04);
        background-color: #ffffff;
        width: 100%;
        font-family: 'HelveticaNeue';
        padding: 44px 30px 30px 30px;
        text-align: center;
        h3.title {
            font-size: 26px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #454545;
        }
        p.intro {
            max-width: 504px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 0.7px;
            text-align: center;
            color: #454545;
            margin:0 auto 23px auto;
        }
        a.btn {
            width: 225px;
        }
    }
}

section#subscribe {
    padding: 55px 0 35px 0;
    .icon {
        margin: 0 0 11px 0;
        text-align: center;
        img {
            width: 30px;
            height: 23px;
            object-fit: contain;
          }
    }
    .headline-line-through{
        font-family: 'HelveticaNeue';
        font-size: 26px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.73;
        letter-spacing: normal;
        text-align: center;
        color: #454545;
        text-transform: capitalize;
        margin: 0 0 30px 0;
    }
    .subscribe-field {
        justify-content: center;
        justify-content: center;
        width: 618px;
        margin: auto;
        input {
            font-family: 'HelveticaNeue';
            width: 450px;
            height: 48px;
            border-radius: 2px;
            margin-right: 15px;
            border: 0;
            padding: 15px 17px;
            box-shadow: 0 4px 9px 0 rgba(26, 47, 59, 0.11);
            background-color: #ffffff;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.15;
            letter-spacing: 0.6px;
            color: #454545;
        }
        button {
            width: 153px;
            height: 48px;
        }
    }
}