.doctor-popup {
    font-family: 'OpenSans', sans-serif;
    .modal-content {
        width: 690px;
        min-height: 620px;        
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        background-color: #fff;
    }
    form {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
.doctor-popup-header {
    padding: 0 30px;
    height: 70px;
    align-items: center;
    .doctor-popup-title {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: uppercase;
        color: #0a2c4d;
        margin: 0;
    }
    .close {
        position: absolute;
        left: calc(100% + 14px);
        background: white;
        width: 32px;
        height: 32px;
        line-height: 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        top: 16px;
        span {
            opacity: 0.3;
        }
        &:hover {
            span {
                opacity: 0.8;
            }
        }
    }
}

.doctor-popup-body {
    flex: 1;
    padding: 40px 28px 24px 28px;
    .doctors-section,
    .seats-section {
        min-height: 180px;
        padding: 22px 20px 0 20px;
        margin-bottom: 30px;
        border-radius: 8px;
        border: solid 1px rgba(10, 44, 77, 0.15);
        position: relative;
        .section-label {
            position: absolute;
            top: -10px;
            left: 20px;
            opacity: 0.8;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: #0a2c4d;
            background: #fff;
            z-index: 1;
            padding: 0 6px;
        }
    }
    .doctors-section {
        .search-field {
        }
        .doctors-list {
            display: flex;
            flex-wrap: wrap;
            .doctor {
                position: relative;
                display: flex;
                align-items: center;
                height: 25px;
                border-radius: 8px;
                border: solid 1px rgba(10, 44, 77, 0.15);
                background-color: #fff;
                padding: 8px 14px 8px 42px;
                margin: 0 10px 24px 0;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.85;
                letter-spacing: normal;
                color: #0a2c4d;
                cursor: pointer;
                &.active {
                    background: #0093ee;
                    color: #fff;
                    opacity: 1;
                    box-shadow: 0px 17px 10px -10px rgba(0, 147, 238,0.4)
                }
                .avatar {
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: solid 2px #fff;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    .seats-section {
        .seats-list {
            margin-top: 10px;
        }
        .floor-number {
            opacity: 0.5;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: 0.5px;
            color: #0a2c4d;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .floor-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .seat {
                border-radius: 8px;
                border: solid 1px rgba(10, 44, 77, 0.15);
                background-color: #fff;
                opacity: 0.5;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.85;
                letter-spacing: normal;
                color: #0a2c4d;
                width: 65px;
                margin: 0 0 25px 0;
                padding: 0px 11px;
                cursor: pointer;
                &.active {
                    background: #0093ee;
                    color: #fff;
                    opacity: 1;
                    box-shadow: 0px 17px 10px -10px rgba(0, 147, 238,0.4)
                }
            }
        }
    }
}

.doctor-popup-footer {
    padding: 0 30px 20px 30px;
    justify-content: space-between;
    border: 0;
    button {
        width: 145px;
        height: 40px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
    button.btn-close {
        border: solid 1px rgba(10, 44, 77, 0.15);
        background-color: #fff;
        color: #0a2c4d;
        margin: 0 30px 0 0;
    }
    button.btn-submit {
        border: solid 1px #0093ee;
        background-color: #0093ee;
        color: #fff;
        margin: 0;
    }    
}
